<div class="mb-5 d-flex justify-content-between main-loop-card">
<div class="pr-3">
	<h2 class="mb-1 h4 font-weight-bold">
	<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
	</h2>
	<p class="excerpt" style="margin-bottom: 15px;">
	   {{ post.excerpt  | strip_html | strip_newlines | truncate: 186}}
	</p>
	<small class="d-block text-muted limco" style = "color: #292929 !important;">
		{% for author in post.author %}
		<a class="text-dark" href="{{site.baseurl}}/@{{post.author}}"  style="text-transform: capitalize;">{{ post.author }}</a>
		{% endfor %}
		in <span class="catlist">
		{% for category in post.categories %}
		<a class="text-capitalize text-muted smoothscroll" style = "color: #292929 !important;" href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
		{% endfor %}
		</span>
	</small>
	<small class="text-muted limco">
		{{ post.date | date: '%b %d' }}<span class="middotDivider"></span>{% include meta-read-time.html %}<span class="u-paddingLeft4"><span class="svgIcon svgIcon--star svgIcon--15px"><svg class="svgIcon-use" width="15" height="15"><path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 00.26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 00-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 00-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 00-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 00.26-.19l1.2-3.52z"></path></svg></span></span>
	</small>
</div>
{% if post.image %}
	<div class="col-md-3 pr-0 text-right" style="padding-left: 0px !important;">
	<a href="{{site.baseurl}}{{post.url}}">
		<img class="w-100" style="background-image: url({% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %});height: 123px;background-position: 50% 50% !important;background-size: cover; width: 154px !important; min-width:139px !important; max-width:139px !important; background-repeat: no-repeat;"></img>
	</a>
	</div>
{% endif %}
</div>
