<!--  Replace menu links here -->

<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/about" style="color: #f5f5f7;">DATA SCIENCE</a>  
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/about" style="color: #f5f5f7;">MBA</a>  
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/about" style="color: #f5f5f7;">ENGLISH</a>  
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/about" style="color: #f5f5f7;">STYLE</a>  
</li>
