<script src="{{site.baseurl}}/assets/js/lunr.js"></script>

<script>
$(function() {
    $("#lunrsearchresults").on('click', '#btnx', function () {
        $('#lunrsearchresults').hide( 1000 );
        $( "body" ).removeClass( "modal-open" );
    });
});
    
{% assign counter = 0 %}
var documents = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %}{% else %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endif %}{% endfor %}{% for page in site.without-plugin %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endfor %}{% for page in site.posts %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];

var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('body')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});


    
function lunr_search(term) {
    $('#lunrsearchresults').show( 1000 );
    $( "body" ).addClass( "modal-open" );
    
    document.getElementById('lunrsearchresults').innerHTML = '<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button type="button" class="close" id="btnx" data-dismiss="modal" aria-label="Close"> &times; </button> </div> <div class="modal-body"> <ul class="mb-0 mltd"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button></div></div> </div></div>';
    if(term) {
        document.getElementById('modtit').innerHTML = "<h5 class='modal-title'>Search results for '" + term + "'</h5>" + document.getElementById('modtit').innerHTML;
        //put results on the screen.
        var results = idx.search(term);
        if(results.length>0){
            //console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+'...';
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><small><span class='body'>"+ body +"</span><br /><span class='url'>"+ url +"</span></small></a></li>";
            }
        } else {
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>We couldn’t find any posts.</li>";
        }
    }
    return false;
}
</script>
<style>
    .modal-body {overflow-y: scroll; height: 540px;}
    .mltd {padding-left: 0px;}
    .lunrsearchresult {margin-bottom: 16px; display: inline-block;}
    .lunrsearchresult .title {color: #0066cc;}
    .lunrsearchresult .url {color: rgba(0, 0, 0, 0.54);}
    .lunrsearchresult a {display: block; color: #292929;}
    .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
    .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>




<form class="bd-search hidden-sm-down" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
<input type="text" class="form-control text-small"  id="lunrsearch" name="q" value="" placeholder="Search Quicklook"> 
</form>


<form action="https://quicklooked.github.io/" class="search-form" autocomplete="off">
				<div class="form-group has-feedback">
						<input type="hidden" name="post_type" value="post">
						<input type="text" class="form-control" name="s" placeholder="Type and hit enter...">
						<i class="fa fa-search form-control-feedback"></i>
				</div>
		</form>
<style>
    // Search
#bs4navbartop {
	.search-form .form-group {
		position: relative;
		float: right !important;
		transition: all 0.35s, border-radius 0s;
		width: 32px;
		height: 32px;
		background-color: transparent;
		box-shadow: none;
		border-radius: 25px;
		border: 1px solid transparent;
		margin-bottom: 0;
	}

	.search-form .form-group input.form-control {
		padding-right: 20px;
		border: 0 none;
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		display: block;
		font-size: .9rem;
		padding-bottom: 15px;
	}

	.search-form .form-group input.form-control::-webkit-input-placeholder {
		display: none;
	}

	.search-form .form-group input.form-control:-moz-placeholder {
		/* Firefox 18- */
		display: none;
	}

	.search-form .form-group input.form-control::-moz-placeholder {
		/* Firefox 19+ */
		display: none;
	}

	.search-form .form-group input.form-control:-ms-input-placeholder {
		display: none;
	}

	.search-form .form-group:hover,
	.search-form .form-group.hover {
		width: 100%;
		border-radius: 30px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	@include media-breakpoint-down(md) {
		.search-form .form-group {
			width: 100%;
			border-radius: 30px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}

	.search-form .form-group i.form-control-feedback {
		position: absolute;
		top: -4px;
		right: -2px;
		z-index: 2;
		display: block;
		width: 34px;
		height: 34px;
		line-height: 34px;
		text-align: center;
		left: initial;
		font-size: 14px;
	}
}

.title-xxl {
	font-size: 11rem;
	line-height: 1;

	small {
		opacity: .2;
		font-size: 50%;
		margin-left: 5px;
	}
}
    
    .form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}
    
.#{$fa-css-prefix} {
  display: inline-block;
  font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
</style>
