<h5 class="mb-3">Quicklook</h5>

<p>Made by <a href="https://quicklooked.github.io/">Quicklook</a>.</p>

<a target="_blank" href="https://quicklooked.github.io/legal" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Legal</a>


<div id="apple"><div class="msg"><div class="text"><div class="buttons"><button class="blue"><a target="_blank" href="https://quicklooked.github.io/legal" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Legal</a></button></div></div></div></div>
