<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Popular on Quicklook</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted" style = "color: #292929 !important;">
		    {% for author in post.author %}
			<a class="text-dark" href="{{site.baseurl}}/@{{post.author}}" style="text-transform: capitalize;">{{ post.author }}</a>
			{% endfor %}
                    in <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" style = "color: #292929 !important;" href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
                	<small class="text-muted">
		{{ post.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}
	</small>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 
