<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Popular on Quicklook</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold" style="line-height: 20px; overflow: hidden!important; max-height: 60px!important; text-overflow: ellipsis!important; display: -webkit-box!important; -webkit-line-clamp: 3!important; -webkit-box-orient: vertical;">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted limco" style = "color: #292929 !important;">
		    {% for author in post.author %}
			<a class="text-dark" href="{{site.baseurl}}/@{{post.author}}" style="text-transform: capitalize;">{{ post.author }}</a>
			{% endfor %}
                    in <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" style = "color: #292929 !important;" href="{{site.baseurl}}/categories#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
                	<small class="text-muted limco">
		{{ post.date | date: '%b %d' }}<span class="middotDivider"></span>{% include meta-read-time.html %}<span class="u-paddingLeft4"><span class="svgIcon svgIcon--star svgIcon--15px"><svg class="svgIcon-use" width="15" height="15"><path d="M7.438 2.324c.034-.099.09-.099.123 0l1.2 3.53a.29.29 0 00.26.19h3.884c.11 0 .127.049.038.111L9.8 8.327a.271.271 0 00-.099.291l1.2 3.53c.034.1-.011.131-.098.069l-3.142-2.18a.303.303 0 00-.32 0l-3.145 2.182c-.087.06-.132.03-.099-.068l1.2-3.53a.271.271 0 00-.098-.292L2.056 6.146c-.087-.06-.071-.112.038-.112h3.884a.29.29 0 00.26-.19l1.2-3.52z"></path></svg></span></span>
	</small>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 
