label {
  position: relative;
  width: 100%;
}

label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  width: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='rgba(0, 0, 0, 0.54)'%3E%3Cpath d='M20.067 18.933l-4.157-4.157a6 6 0 10-.884.884l4.157 4.157a.624.624 0 10.884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

input {
  padding: 10px 30px !important;
}
