.reference {
  position: relative;
  background: rgba(255,255,255,1);
  padding: 25px;
  width: auto;
  max-width: auto;
  margin: 0 auto;
}

.mfp-move-from-top {
  .mfp-content {
    vertical-align: bottom;
  }

  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.2s;
  }

  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateY(0);
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
  &.mfp-removing {
    .mfp-with-anim {
      transform: translateY(-50px);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}
