.do {
  flex-direction: column;
  }

.an {
	display: flex;
  }

.kp {
	padding-bottom: 40px;
}

.z {
	display: block;
}

.ao {
	justify-content: center;
}

.av {
	min-width: 0;
}

.au {
	max-width: 1192px;
}

.af {
	width: 100%;
}

.ou {
	height: auto;
}

.qc {
	margin-top: 16px;
}

.qd {
	margin-left: 8px;
}

.qg {
	color: rgb(117, 117, 117);
}

.qf {
	padding-right: 2px;
}


.ne {
	overflow: hidden;
}

.qe {
	max-height: 16px;
}

.of {
	text-overflow: ellipsis;
}

.og {
	display: -webkit-box;
}

.pn {
	-webkit-line-clamp: 1;
}

.oi {
	-webkit-box-orient: vertical;
}

.qi {
	padding-top: 8px;
}

.qh {
	padding-bottom: 6px;
}

.qj {
	font-size: 22px;
}

.qk {
	max-height: 56px;
}

.oh {
	-webkit-line-clamp: 2;
}

.ql {
	font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}
.qm {
	max-height: 84px;
}

.qo {
	letter-spacing: -0.003em;
}


.qn {
	-webkit-line-clamp: 3;
}

.qq {
	padding-right: 6px;
}

.qp {
	padding-left: 6px;
}
.qr {
	transform: translateY(-1.25px);
}

.qs {
	font-size: 15px;
}

.qu {
	padding-bottom: 32px;
}

media:= "(min-width: 1080px)"
.nb {
	max-width: 100%;
}

media:= "(min-width: 1080px)"
.na {
	margin: 0px;
}

.ob {
	flex: 1 1 auto;
}

.nc {
	transition: opacity 200ms ease 0s;
}

.os {
	height: 0px;
}

.nd {
	transition: height 200ms ease 0s;
}

.ng {
	padding: 10px 30px 30px;
}

.ni {
	justify-content: space-evenly;
}

.nh {
	width: 90px;
}


.nj {
	text-align: center;
}

.ks {
	margin: 20px 0;
}

.ot {
	opacity: 1;
}

.nt {
	padding-top: 16px;
}
.nx {
	padding-bottom: 16px;
}

.ny {
	height: 64px;
}

.oa {
	padding-top: 4px;
}

.nz {
	padding-left: 8px;
}

.nw {
	padding-bottom: 4px;
}

.nv {
	font-weight: 600;
}

.od {
	font-size: 11px;
}

.oe {
	max-height: 32px;
}

.ol {
	border-color: rgb(26, 137, 23);
}

.ok {
	background: rgb(26, 137, 23);
}

media := "(min-width: 1080px)"
.mq {
	margin-top: 32px;
}

.or {
	margin-bottom: 14px;
}

.oq {
	padding-bottom: 14px;
}

.mb {
	font-weight: bold;
}

.qv {
	padding-bottom: 8px;
}
