/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/latin/charter-400-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/rest/charter-400-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/latin/charter-400-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/rest/charter-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/css/latin/charter-700-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/css/rest/charter-700-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/css/latin/charter-700-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/css/rest/charter-700-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/latin/fell-400-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/rest/fell-400-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/latin/fell-400-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/rest/fell-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/latin/gt-super-400-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/rest/gt-super-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/css/latin/noe-display-500-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/css/rest/noe-display-500-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/latin/opendyslexic-400-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/rest/opendyslexic-400-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/latin/opendyslexic-400-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/rest/opendyslexic-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/css/latin/sohne-300-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  src: url('/assets/css/rest/sohne-300-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/css/latin/sohne-300-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  src: url('/assets/css/rest/sohne-300-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/latin/sohne-400-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  src: url('/assets/css/rest/sohne-400-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/latin/sohne-400-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/css/rest/sohne-400-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/css/latin/sohne-500-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/css/rest/sohne-500-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/css/latin/sohne-500-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/css/rest/sohne-500-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/css/latin/sohne-700-italic.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  src: url('/assets/css/rest/sohne-700-italic.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/css/latin/sohne-700-normal.woff') format('woff');
  unicode-range: U+0-7F, U+A0, U+200A, U+2014, U+2018, U+2019, U+201C, U+201D, U+2022, U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/css/rest/sohne-700-normal.woff') format('woff');
  unicode-range: U+80-9F, U+A1-2009, U+200B-2013, U+2015-2017, U+201A-201B, U+201E-2021, U+2023-2025, U+2027-10FFFF;
}

/* circular */
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-light.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-light-hbr.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-light-hbr.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-book.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-book-hbr.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-book-hbr.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-medium.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-medium-hbr.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-medium-hbr.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-bold.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-bold-hbr.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-bold-hbr.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-black.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-black-hbr.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-black-hbr.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "noto-arabic";
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-light.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "noto-arabic";
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-regular.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "noto-arabic";
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-bold.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/notosansarabic-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Circular-cyr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-light.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular-cyr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-medium.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular-cyr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-book.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular-cyr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-black.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Circular-cyr;
  src: url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-bold.woff2") format("woff2"), url("https://sp-bootstrap.spotifycdn.com/8.12.5/fonts/circular-cyr-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* icons */
@font-face {
  font-family: 'icons';
  src: url('/assets/css/icons/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* sgtb */
@font-face {
  font-family: 'sgtb display';
  src: url('/assets/css/sgtb/sgtb-display_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb display';
  src: url('/assets/css/sgtb/sgtb-display_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb text';
  src: url('/assets/css/sgtb/sgtb-text_regular-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb text';
  src: url('/assets/css/sgtb/sgtb-text_light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb text';
  src: url('/assets/css/sgtb/sgtb-text_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb text';
  src: url('/assets/css/sgtb/sgtb-text_semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb icons';
  src: url('/assets/css/sgtb/sgtb-icons_light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb icons';
  src: url('/assets/css/sgtb/sgtb-icons_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sgtb icon';
  src: url('/assets/css/sgtb/sgtb-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* quicksan */
@font-face {
    font-family: 'quicksan';
    src: url('/assets/css/quicksan/QuickSans_W_Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'quicksan';
    src: url('/assets/css/quicksan/QuickSans_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'nf-icon';
    src: url('/assets/css/icons/nf icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* netflix */
@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/css/netflix/NetflixSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/css/netflix/NetflixSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/assets/css/netflix/NetflixSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* HelveticaNowDisplay */

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Bold.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Black.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay ExtraBlack';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay ExtraBlack';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay Hairline';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay Hairline';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-HairlineI.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Light.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-LightIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Medium.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-MedIta.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-RegIta.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Thin.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Thin.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Regular.woff') format('woff'),
    url('/assets/css/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* HelveticaNowText */

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-BlackItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-BlackItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Bold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Bold.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Black.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Black.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-ExtBdIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtBdIta.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtBdIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-BoldItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-BoldItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraBold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraBold.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Medium.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Medium.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraLight.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraLight.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-LightItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-LightItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-ExtLtIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtLtIta.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ExtLtIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-MediumItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-MediumItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Light.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Light.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-ThinItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ThinItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Thin.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Thin.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-Regular.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Regular.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/assets/css/HelveticaNowText/HelveticaNowText-RegIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-RegIta.woff') format('woff'),
    url('/assets/css/HelveticaNowText/HelveticaNowText-RegIta.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* HelveticaNowMicro */

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Bold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Bold.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-BoldItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-BoldItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtBdIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtBdIta.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtBdIta.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraBold.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraBold.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtLtIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtLtIta.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtLtIta.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraLight.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraLight.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Light.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Light.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-LightItalic.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-LightItalic.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Medium.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Medium.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-MedIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-MedIta.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-MedIta.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Regular.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Regular.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowMicro';
  src: url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-RegIta.woff2') format('woff2'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-RegIta.woff') format('woff'),
    url('/assets/css/HelveticaNowMicro/HelveticaNowMicro-RegIta.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* ReithSans */

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff) format("woff");
  font-display: optional;
  font-display: optional
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 700
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 700
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 300
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 300
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 800
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 800
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 500
}

@font-face {
  font-family: "ReithSans";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 500
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff) format("woff");
  font-display: optional;
  font-display: swap
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 700
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_BdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_BdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 700
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Lt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Lt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 300
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_LtIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_LtIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 300
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBd.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 800
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 800
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Md.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Md.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-weight: 500
}

@font-face {
  font-family: "ReithSerif";
  src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_MdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_MdIt.woff) format("woff");
  font-display: optional;
  font-display: swap;
  font-style: italic;
  font-weight: 500
}
