.hi {
    padding: 0px 8px;
}

.eh {
    color: rgba(41, 41, 41, 1);
}

.q {
    fill: rgba(41, 41, 41, 1);
}

.hj {
    background: 0;
}

.hk {
    border-color: rgba(117, 117, 117, 1);
}

hr {
    background-color: rgba(230, 230, 230, 1);
    color: rgba(230, 230, 230, 1);
    border: 0 none;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.hu {
    border-radius: 4px;
}

.as {
    font-style: normal;
}

.ar {
    font-family:  'Feed', sans-serif;
}

.b {
    font-weight: 400;
}

.hv {
    line-height: 18px;
}

.cm {
    font-size: 15px;
}

.av {
    letter-spacing: 0px;
    color: inherit;
}

.hw {
    border-width: 1px;
}

.hx {
    border-style: solid;
}

.do {
    box-sizing: border-box;
}

.hy {
    display: inline-block;
}

.hz {
    text-decoration: none;
}
