.jw-svg-icon-pause path,
.jw-svg-icon-play path,
.jw-svg-icon-volume-0 path,
.jw-svg-icon-volume-50 path,
.jw-svg-icon-cc-off path,
.jw-svg-icon-rewind path,
.jw-svg-icon-forward path,
.jw-svg-icon-next path,
.jw-svg-icon-stop path,
.jw-svg-icon-replay path,
.jw-svg-icon-episodes>g,
.jw-svg-icon-cc-on path,
.jw-svg-icon-volume-100 path,
.jw-svg-icon-quality-100 path,
.jw-svg-icon-settings path,
.jwplayer .jw-svg-icon-buffer path,
.jw-svg-icon-audio-tracks path,
.jw-svg-icon-fullscreen-off path,
.jw-svg-icon-fullscreen-on path,
.jw-svg-icon-close path {
  display: none;
}

.jw-svg-icon-play {
  background-image: url("/assets/css/uservideos/svg_player/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
  background-position: center;
}

.jw-svg-icon-pause {
  background-image: url("/assets/css/uservideos/svg_player/pause.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
  background-position: center;
}

.jw-svg-icon-stop {
  background-image: url("/assets/css/uservideos/svg_player/stop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 14px !important;
  height: 14px !important;
  background-position: center;
}

.jw-svg-icon-replay {
  background-image: url("/assets/css/uservideos/svg_player/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
  background-position: center;
}

.jw-svg-icon-buffer {
  background-image: url("/assets/images/icons/site-spinner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jw-svg-icon-next {
  background-image: url("/assets/css/uservideos/svg_player/next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
  background-position: center;
}

.jw-svg-icon-rewind {
  background-image: url("/assets/css/uservideos/svg_player/rewind.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px !important;
  height: 24px !important;
  background-position: center;
}

.jw-svg-icon-forward {
  background-image: url("/assets/css/uservideos/svg_player/forward.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px !important;
  height: 24px !important;
  background-position: center;
}

.jw-svg-icon-volume-0 {
  background-image: url("/assets/css/uservideos/svg_player/volume-0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-volume-100,
.jw-svg-icon-volume-50 {
  background-image: url("/assets/css/uservideos/svg_player/volume-max.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-fullscreen-off {
  background-image: url("/assets/css/uservideos/svg_player/fullscreen-off.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px !important;
  height: 22px !important;
  background-position: center;
}

.jw-svg-icon-fullscreen-on {
  background-image: url("/assets/css/uservideos/svg_player/fullscreen-on.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-episodes {
  background-image: url("/assets/css/uservideos/svg_player/episodes.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px !important;
  height: 32px !important;
}

.jw-svg-icon-settings {
  background-image: url("/assets/css/uservideos/svg_player/setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-cc-on {
  background-image: url("/assets/css/uservideos/svg_player/setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-cc-off {
  background-image: url("/assets/css/uservideos/svg_player/setting.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: auto !important;
  height: auto !important;
}

.jw-svg-icon-audio-tracks {
  background-image: url("/assets/css/uservideos/svg_player/audio-tracks.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
  background-position: center;
}

.jw-svg-icon-quality-100 {
  background-image: url("/assets/css/uservideos/svg_player/quality.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px !important;
  height: 16px !important;
  background-position: center;
}

.jw-svg-icon-close {
  background-image: url("/assets/css/uservideos/svg_player/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px !important;
  height: 18px !important;
}

.jw-flag-floating .jw-float-icon .jw-svg-icon {
  -webkit-filter: none !important;
  filter: none !important;
}

.jw-float-icon.jw-icon.jw-button-color.jw-reset {
  top: 0 !important;
  right: 0 !important;
}

@media all and (min-width: 1056px) {
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-forward:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-episodes:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next:hover,
  .jw-float-icon.jw-icon.jw-button-color.jw-reset:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-cc.jw-settings-submenu-button:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-settings.jw-settings-submenu-button:hover,
  .jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset:hover,
  .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-fullscreen:hover {
    background: #e50914;
  }
}

.jw-icon-volume .jw-overlay {
  background: #000 !important;
}

.jw-volume-tip {
  padding: 20px 0 20px !important;
}

.jw-slider-vertical .jw-slider-container {
  height: 100px !important;
  width: 6px !important;
}

.jw-slider-vertical .jw-rail,
.jw-slider-vertical .jw-buffer,
.jw-slider-vertical .jw-progress {
  width: 6px !important;
}


.jw-time-thumb {
  /*border: 1px solid #fff !important;
  background: rgba(0, 0, 0, 1) !important;*/
  transition: opacity 0s linear 0.4s !important;
}


.jw-reset-text.jw-tooltip,
.jw-rightclick.jw-reset,
.jw-icon-volume::after,
.jw-icon-volume .jw-overlay,
.jwplayer.jw-flag-live .jw-controlbar .jw-icon-forward,
.jwplayer.jw-flag-live .jw-controlbar .jw-icon-next,
.jw-horizontal-volume-container,
.jw-flag-floating .jw-wrapper .jw-slider-time,
/*.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-forward,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind,*/
.jw-slider-volume.jw-volume-tip.jw-reset.jw-slider-vertical, 
.jw-nextup-container.jw-reset.jw-nextup-sticky.jw-nextup-container-visible,
.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-duration,
.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-elapsed {
  display: none !important;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after {
  box-shadow: none !important;
}

.jw-button-container {
  padding: 0 !important;
  margin: 0 auto !important;
  height: 44px !important;
  max-width: 1056px !important;
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset,
.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset {
  width: 44px !important;
  height: 44px !important;
}

.jw-slider-time,
.jw-horizontal-volume-container .jw-slider-volume {
  height: 44px !important;
  padding: 0 !important;
  margin: 0 auto !important;
  max-width: 1056px !important;
}

.jw-breakpoint-0 .jw-slider-time,
.jw-breakpoint-0 .jw-horizontal-volume-container .jw-slider-volume,
.jw-breakpoint-1 .jw-slider-time,
.jw-breakpoint-1 .jw-horizontal-volume-container .jw-slider-volume,
.jw-breakpoint-2 .jw-slider-time,
.jw-breakpoint-2 .jw-horizontal-volume-container .jw-slider-volume,
.jw-breakpoint-3 .jw-slider-time,
.jw-breakpoint-3 .jw-horizontal-volume-container .jw-slider-volume,
.jw-breakpoint-4 .jw-slider-time,
.jw-breakpoint-4 .jw-horizontal-volume-container .jw-slider-volume,
.jw-breakpoint-5 .jw-slider-time,
.jw-breakpoint-5 .jw-horizontal-volume-container .jw-slider-volume {
  padding: 0 16px !important;
}

.jw-controlbar {
  max-height: 88px !important;
}

.jw-slider-horizontal .jw-slider-container {
  height: 6px !important;
}

.jw-knob {
  height: 14px !important;
  width: 9px !important;
  border: 4px solid #fff !important;
  background-color: #000 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail,
.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer,
.jw-slider-time .jw-progress,
.jw-horizontal-volume-container .jw-progress,
.jw-slider-time .jw-cue,
.jw-horizontal-volume-container .jw-cue {
  -webkit-transform: translate(0, -50%) scale(1, 1) !important;
  transform: translate(0, -50%) scale(1, 1) !important;
}

.jw-progress {
  background: #e50914 !important;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail {
  background-color: #767676 !important;
}

.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer {
  background-color: #5b5b5b !important;
}


.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
  display: flex !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-forward,
.jwplayer:not(.jw-flag-ads):not(.jw-flag-live).jw-breakpoint-0 .jw-text-countdown,
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-episodes {
  display: none !important;
}

.jw-breakpoint-4 .jw-display .jw-icon,
.jw-breakpoint-5 .jw-display .jw-icon,
.jw-breakpoint-6 .jw-display .jw-icon,
.jw-breakpoint-7 .jw-display .jw-icon,
.jw-breakpoint-4 .jw-display .jw-svg-icon,
.jw-breakpoint-5 .jw-display .jw-svg-icon,
.jw-breakpoint-6 .jw-display .jw-svg-icon,
.jw-breakpoint-7 .jw-display .jw-svg-icon {
  width: 120px !important;
  height: 120px !important;
  line-height: 120px !important;
}

.jw-breakpoint-2 .jw-display .jw-icon,
.jw-breakpoint-3 .jw-display .jw-icon,
.jw-breakpoint-2 .jw-display .jw-svg-icon,
.jw-breakpoint-3 .jw-display .jw-svg-icon {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
}

.jw-breakpoint-1 .jw-display .jw-icon,
.jw-breakpoint-1 .jw-display .jw-svg-icon {
  width: 88px !important;
  height: 88px !important;
  line-height: 88px !important;
}

.jw-breakpoint-0 .jw-display .jw-icon,
.jw-breakpoint--1 .jw-display .jw-icon,
.jw-breakpoint-0 .jw-display .jw-svg-icon,
.jw-breakpoint--1 .jw-display .jw-svg-icon {
  width: 88px !important;
  height: 88px !important;
  line-height: 88px !important;
}

.jw-display-icon-container .jw-icon {
  height: 100px !important;
  width: 100px !important;
}

/*.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-quality.jw-submenu-quality,
.jw-reset.jw-settings-submenu.jw-settings-submenu-quality,*/
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-settings.jw-settings-submenu-button,
.jw-reset.jw-submenu-topbar {
  display: none !important;
}

.jw-breakpoint-7 .jw-settings-menu {
  bottom: 0 !important;
  right: 0 !important;
  width: calc((100vw - 1056px)/2 + 44px) !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  z-index: 1 !important;
  font-size: 13px !important;
  min-width: 320px !important;
}

.jw-breakpoint-6 .jw-settings-menu {
  bottom: 0 !important;
  right: 0 !important;
  width: calc((100vw - 640px)/2 + 44px) !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  z-index: 1 !important;
  font-size: 13px !important;
  min-width: 320px !important;
}

.jw-breakpoint-5 .jw-settings-menu,
.jw-breakpoint-4 .jw-settings-menu,
.jw-breakpoint-3 .jw-settings-menu,
.jw-breakpoint-2 .jw-settings-menu,
.jw-breakpoint-1 .jw-settings-menu,
.jw-breakpoint-0 .jw-settings-menu {
  bottom: 0 !important;
  right: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  z-index: 1 !important;
  font-size: 13px !important;
}

.jw-text-track-cue {
  font-weight: 700 !important;
  display: inline-block !important;
  text-align: center !important;
  line-height: 1.2em !important;
  padding: 0.2em !important;
  /*border-radius: 0.2em !important;*/
}

.jw-state-paused .jw-controlbar,
.jw-state-playing .jw-controlbar {
  display: block !important;
}

.jw-settings-menu .jw-icon.jw-button-color:after {
  box-shadow: inset 0 -3px 0 -1px #fff !important;
  width: 100% !important;
}

.jwplayer.jw-state-buffering .jw-display-icon-display .jw-icon .jw-svg-icon-buffer {
  -webkit-animation: jw-spin 750ms linear infinite !important;
  animation: jw-spin 750ms linear infinite !important;
}

.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-countdown,
.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-elapsed,
.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-duration {
  font-size: 11px !important;
  line-height: 44px !important;
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-text-live {
  width: auto !important;
  height: 44px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  line-height: 44px !important;
  color: #fff;
  text-transform: none !important;
}

.jw-text-live::before {
  height: 6px !important;
  width: 6px !important;
  background-color: #e50914 !important;
}

@media all and (max-width: 739px) {
  .jw-flag-floating .jw-wrapper {
    top: 44px !important;
    bottom: auto !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    max-width: calc(100vh - 0px) !important;
    max-height: calc(100vh - 44px) !important;
  }
}
@media all and (max-width: 1024px) {
  .jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset {
    display: none !important
  }
}

@media all and (max-width: 414px) {
  .jw-breakpoint-0 .jw-slider-time,
  .jw-breakpoint-1 .jw-slider-time,
  .jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time {
    display: none !important
  }
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-icon-volume,
.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-text-live {
  bottom: 0 !important;
}

.jw-display-icon-container.jw-display-icon-rewind.jw-reset,
.jw-display-icon-container.jw-display-icon-next.jw-reset,
.jw-state-playing .jw-display-icon-container.jw-display-icon-display.jw-reset,
.jw-state-paused .jw-display-icon-container.jw-display-icon-display.jw-reset,
.jw-state-playing .jw-display-container.jw-reset,
.jw-state-complete .jw-display-container.jw-reset,
.jw-state-paused .jw-display-container.jw-reset {
  display: none !important;
}

.jw-display {
  padding: 88px 0 !important;
}


.jwplayer:not(.jw-flag-controls-hidden):not(.jw-state-playing) .jw-captions,
.jwplayer.jw-flag-media-audio.jw-state-playing .jw-captions,
.jwplayer.jw-state-playing:not(.jw-flag-user-inactive):not(.jw-flag-controls-hidden) .jw-captions {
  max-height: calc(100% - 88px) !important;
}

.jw-settings-topbar {
  padding: 0 !important;
  background-color: #e50914 !important;
}

.jw-settings-menu {
  background-color: #000 !important;
}

.jw-settings-submenu {
  padding: 8px 20px 0 0 !important;
}

.jw-settings-content-item {
  font-size: 12px !important;
  line-height: 1 !important;
  height: 28px !important;
  color: #fff !important;
  padding: 8px 0 8px 14px !important;
}

.jw-time-tip::after,
.jw-controlbar .jw-tooltip::after,
.jw-settings-menu .jw-tooltip::after {
  height: 12px !important;
  width: 12px !important;
  border-radius: 0 !important;
}

.jw-time-tip .jw-text,
.jw-controlbar .jw-tooltip .jw-text,
.jw-settings-menu .jw-tooltip .jw-text {
  border-radius: 0 !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  margin: 0 !important;
  color: #000 !important;
  line-height: 1 !important;
  padding: 6px 8px !important;
  min-height: 1em !important;
}

.jw-reset-text,
.jw-reset {
  font-family: HelveticaNowText, Helvetica, Arial, sans-serif !important;
}

.jw-time-tip,
.jw-controlbar .jw-tooltip,
.jw-settings-menu .jw-tooltip {
  box-shadow: none !important;
  margin: 0 0 12px !important;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-icon-volume .jw-overlay {
  padding-bottom: 0 !important;
}

.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-icon-episodes,
.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-icon-forward,
/*.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-icon-volume,*/
.jwplayer.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time {
  display: none !important;
}

/* episodes */

.episodes_title-over {
  color: #fff;
  font-size: 1.8rem;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
}

.container_episodes_overlay_top {
  padding-bottom: 24px;
  padding: 24px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.container_episodes_over {
  width: 100%;
  position: fixed;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2147483647;
  pointer-events: all;
  transition: opacity .6s cubic-bezier(.23, 1, .32, 1) 0s;
}

.container_episodes_overlay_open {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  opacity: 1;
  left: 100%;
  top: 0;
  width: 100%;
  z-index: 2147483647;
  background-color: #000;
  overflow: auto;
  /*box-shadow: rgb(0 0 0 / 15%) 0 4px 12px;*/
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(.23, 1, .32, 1) 0s, opacity .6s cubic-bezier(.23, 1, .32, 1) 0s;
}

@media only screen and (min-width: 1080px) {
  .container_episodes_overlay_open {
    margin-right: -16px;
  }
}

@media only screen and (max-width: 739px) {
  .container_episodes_overlay_open {
    width: 100%;
    top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    left: 0;
    transform: translateY(0);
  }
}

.episodes_privacy_btn {
  fill: #fff;
}

.episodes_privacy_btn:hover,
.episodes_close_btn_overlay:hover,
.episodes_dots_btn:hover {
  fill: #e50914;
}

.episodes_dots_btn {
  fill: #fff;
  border: 0;
  cursor: pointer;
}

.episodes_dots_btn:focus {
  outline: 0;
}

.episodes_close_btn {
  position: relative;
  right: -7px;
}

.episodes_close_btn_over {
  position: relative;
  right: 0;
  top: 0;
}

.episodes_close_btn_overlay {
  font-size: inherit;
  border: inherit;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  margin-bottom: 0px;
  color: inherit;
  fill: #fff;
}

@media only screen and (max-width: 739px) {
  .episodes_close_btn_overlay {
    justify-content: flex-end;
    flex-direction: column;
  }
}

/*
.container_episodes_overlay_open::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 6px;
}

.container_episodes_overlay_open::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
*/

.container_episodes_overlay_open::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
/* ads */

.jwplayer.jw-flag-ads .jw-controlbar .jw-text-alt {
  font-size: 11px !important;
  line-height: 44px !important;
  font-weight: 500 !important;
  height: 44px !important;
  color: #fff !important;
}

/*
.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time {
  padding: 0 !important;
  height: 6px !important;
  max-width: 100% !important;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-button-container {
  display: none !important;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time .jw-progress {
  top: 100% !important;
  background-color: #ffcc00 !important
}
*/

.jw-skip .jw-text,
.jw-skip .jw-skip-icon {
  font-size: 11px !important;
}

.jw-skip .jw-skiptext,
.jw-skip .jw-skip-icon {
  color: #fff !important;
}

.jw-skip .jw-text {
  font-weight: normal !important;
}

.jw-skip {
  color: #fff !important;
  right: 0 !important;
  bottom: 44px !important;
  padding: 12px !important;
  border: none !important;
  background-color: #000 !important;
  align-items: center;
  height: 44px !important;
}

.jw-skip:hover {
  background-color: #e50914 !important;
}

.jw-skip.jw-skippable .jw-skip-icon {
  display: inline-flex !important;
  display: none !important;
  height: 44px !important;
  width: 44px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time .jw-progress {
  top: 50% !important;
}

.jwplayer.jw-flag-ads .jw-controlbar .jw-slider-time .jw-rail {
  display: inline-flex !important;
}

.jwplayer.jw-flag-ads .jw-controlbar {
  flex-direction: column !important;
}
