.jw-svg-icon-play path {
  display: none;
}

.jw-svg-icon-play {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='play' viewBox='0 0 44 44'%3E%3Cpolygon fill='%23FFFFFF' style='fill: %23fff' points='14.4,33 32.3,22 14.4,11'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

svg.jw-svg-icon.jw-svg-icon-play {
  width: 31px !important;
  height: 31px !important;
}
