.jw-svg-icon-pause path,
.jw-svg-icon-play path,
.jw-svg-icon-volume-0 path,
.jw-svg-icon-volume-50 path,
.jw-svg-icon-volume-100 path,
.jw-svg-icon-settings path,
.jw-svg-icon-fullscreen-off path,
.jw-svg-icon-fullscreen-on path {
  display: none;
}

.jw-svg-icon-play {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='play' viewBox='0 0 44 44'%3E%3Cpolygon fill='%23FFFFFF' style='fill: %23fff' points='14.4,33 32.3,22 14.4,11'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
}

.jw-svg-icon-pause {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cg id='pause' fill='%23fff'%3E%3Crect x='13.1' y='11' width='6.2' height='22'%3E%3C/rect%3E%3Crect x='24.8' y='11' width='6.2' height='22'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px !important;
  height: 31px !important;
}

.jw-svg-icon-volume-0 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='%23fff'%3E%3Cg id='mute'%3E%3Cpolygon points='22,13.8 17.9,17.9 11,17.9 11,26.1 17.9,26.1 22,30.2'%3E%3C/polygon%3E%3Crect x='23.7' y='21.3' transform='matrix(0.7072 0.7071 -0.7071 0.7072 23.9848 -13.908)' width='10.2' height='1.4'%3E%3C/rect%3E%3Crect x='28.1' y='16.9' transform='matrix(0.7072 0.707 -0.707 0.7072 23.9802 -13.9074)' width='1.4' height='10.2'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
}

.jw-svg-icon-volume-100,
.jw-svg-icon-volume-50 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='%23fff'%3E%3Cg id='audio'%3E%3Cpath d='M25.7,14.3l-1,1c1.7,1.7,2.8,4.1,2.8,6.7c0,2.6-1.1,5-2.8,6.7l1,1c2-2,3.2-4.7,3.2-7.7C28.9,19,27.7,16.3,25.7,14.3z'%3E%3C/path%3E%3Cpath d='M28.6,11.4l-1,1c2.5,2.5,4,5.9,4,9.7s-1.5,7.2-4,9.7l1,1C31.3,29.9,33,26.1,33,22C33,17.9,31.3,14.1,28.6,11.4z'%3E%3C/path%3E%3Cpolygon points='22,13.8 17.9,17.9 11,17.9 11,26.1 17.9,26.1 22,30.2'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
}

.jw-svg-icon-fullscreen-off {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23fff'%3E%3Cg id='fullscreen-return'%3E%3Cpolygon points='28,12 20,12 20,4'%3E%3C/polygon%3E%3Cpolygon points='4,12 12,12 12,4'%3E%3C/polygon%3E%3Cpolygon points='28,20 20,20 20,28'%3E%3C/polygon%3E%3Cpolygon points='4,20 12,20 12,28'%3E%3C/polygon%3E%3Crect x='1' width='30' height='2'%3E%3C/rect%3E%3Crect x='1' y='30.5' width='30' height='2'%3E%3C/rect%3E%3Crect width='2' height='32'%3E%3C/rect%3E%3Crect x='30' width='2' height='32'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px !important;
  height: 22px !important;
}

.jw-svg-icon-fullscreen-on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' fill='%23fff'%3E%3Cg id='fullscreen-enter'%3E%3Cpath d='M26.1,19.2v6.9h-8.2v-8.2h8.2 M27.5,16.5h-11v11h11V16.5L27.5,16.5z'%3E%3C/path%3E%3Cpolygon points='25.4,11 33,11 33,18.6'%3E%3C/polygon%3E%3Cpolygon points='18.6,11 11,11 11,18.6'%3E%3C/polygon%3E%3Cpolygon points='25.4,33 33,33 33,25.4'%3E%3C/polygon%3E%3Cpolygon points='18.6,33 11,33 11,25.4'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
}

.jw-svg-icon-settings {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' focusable='false' fill='%23fff' viewBox='0 0 44 44'%3E%3Cg id='playback-settings'%3E%3Cpath d='M22.76522,23.847576 C21.7467559,24.2695688 20.5757973,23.785077 20.1528122,22.7645945 C19.7303271,21.744612 20.21531,20.575132 21.234774,20.1521393 C22.254238,19.7306465 23.4246967,20.2146382 23.8476818,21.2341207 C24.2706668,22.2546033 23.784184,23.4260832 22.76522,23.847576 M29.8439701,23.8605758 L28.0525333,23.1185885 C28.1885285,22.3896009 28.1955283,21.6326139 28.0560332,20.8801268 L29.8439701,20.1396395 C29.9724655,20.0861404 30.0339634,19.9376429 29.9809652,19.8096451 L29.1919931,17.9051777 C29.139495,17.7776799 28.9910002,17.715681 28.8630047,17.7691801 L27.0735679,18.5101674 C26.6400832,17.8791782 26.0996023,17.3481873 25.4891238,16.9286945 L26.2310976,15.1377251 C26.2840957,15.0092273 26.2225979,14.8607299 26.0941025,14.8077308 L24.1906696,14.0192443 C24.0626742,13.9657452 23.9146794,14.0277441 23.8611813,14.1562419 L23.1192075,15.9472113 C22.3902332,15.8122136 21.6327599,15.8047137 20.8807865,15.9442113 L20.1393127,14.1562419 C20.0863145,14.0277441 19.9378198,13.9657452 19.8093243,14.0192443 L17.9058915,14.8077308 C17.777396,14.8617299 17.7153982,15.0102273 17.7693963,15.1377251 L18.5098702,16.9271945 C17.8798924,17.3596871 17.3489112,17.9001778 16.929926,18.5106674 L15.1384892,17.7686801 C15.0104937,17.715681 14.861499,17.7776799 14.8090008,17.9051777 L14.0200287,19.8096451 C13.9670305,19.9376429 14.0280284,20.0861404 14.1570238,20.1396395 L15.9479606,20.8816268 C15.8129654,21.6091143 15.8049657,22.3666013 15.9444607,23.1190885 L14.1560239,23.8605758 C14.0275284,23.9135748 13.9655306,24.0620723 14.0195287,24.1905701 L14.8090008,26.0945375 C14.8619989,26.2225353 15.0104937,26.2845342 15.1384892,26.2315352 L16.927426,25.4900479 C17.3609107,26.121037 17.9008917,26.651528 18.5113701,27.0700208 L17.7698963,28.8619901 C17.7163982,28.9899879 17.777896,29.1384854 17.9063915,29.1919845 L19.8103243,29.980471 C19.9388197,30.03447 20.0868145,29.9724711 20.1398126,29.8439733 L20.8817865,28.052504 C21.6102607,28.1875017 22.367234,28.1955015 23.1207074,28.0555039 L23.8616813,29.8439733 C23.9151794,29.9724711 24.0636741,30.03347 24.1916696,29.980471 L26.0951024,29.1914845 C26.2235979,29.1384854 26.2850957,28.9899879 26.2320976,28.8619901 L25.4901238,27.0730207 C26.1216015,26.6395282 26.6515828,26.0995374 27.071068,25.4890479 L28.8625047,26.2310352 C28.9900002,26.2845342 29.139495,26.2225353 29.1919931,26.0945375 L29.9809652,24.1905701 C30.0339634,24.0620723 29.9724655,23.9130749 29.8439701,23.8605758'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: auto !important;
  height: auto !important;
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback:hover,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next:hover,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-cc.jw-settings-submenu-button:hover,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-settings.jw-settings-submenu-button:hover,
.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset:hover,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-fullscreen:hover {
  background: #e50914;
}

.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-elapsed,
.jw-reset-text.jw-tooltip,
.jw-rightclick.jw-reset,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-next,
.jw-slider-volume.jw-volume-tip.jw-reset.jw-slider-vertical, 
.jw-nextup-container.jw-reset.jw-nextup-sticky.jw-nextup-container-visible,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-forward,
.jw-icon.jw-icon-inline.jw-text.jw-reset.jw-text-duration {
  display: none !important;
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after {
  box-shadow: none !important;
}

.jw-button-container {
  padding: 0 !important;
  margin: 0 auto !important;
  height: 44px !important;
  max-width: 1056px !important;
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset,
.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset {
  width: 44px !important;
  height: 44px !important;
}

.jw-slider-time,
.jw-horizontal-volume-container .jw-slider-volume {
  height: 44px !important;
  padding: 0 16px !important;
  max-width: 1056px !important;
}

.jw-controlbar {
  max-height: 88px !important;
}

.jw-slider-horizontal .jw-slider-container {
  height: 6px !important;
}

.jw-knob {
  height: 14px !important;
  width: 10px !important;
  background-color: #fff;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail,
.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer,
.jw-slider-time .jw-progress,
.jw-horizontal-volume-container .jw-progress,
.jw-slider-time .jw-cue,
.jw-horizontal-volume-container .jw-cue {
  -webkit-transform: translate(0, -50%) scale(1, 1) !important;
  transform: translate(0, -50%) scale(1, 1) !important;
}

.jw-progress {
  background: #e50914 !important;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail {
  background-color: #767676 !important;
}

.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer {
  background-color: #5b5b5b !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
  display: flex !important;
}

.jw-display-container.jw-reset {
  display: none !important;
}
