.jwplayer .jw-text-elapsed,
.jwplayer .jw-text-duration,
.jwplayer .jw-tooltip,
.jwplayer .jw-rightclick,
.jwplayer .jw-slider-vertical {
  display: none !important;
}

.jwplayer .jw-text-countdown {
  display: flex !important;
}

.jwplayer .jw-icon::after {
  box-shadow: none !important;
}

.jw-text-track-cue {
  font-weight: 700 !important;
  letter-spacing: -0.022em !important;
  display: inline-block !important;
  text-align: center !important;
  line-height: 1.2em !important;
  padding: 0.2em !important;
  border-radius: 0.2em !important;
}
