
@-webkit-keyframes fadeinout2 {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

@-o-keyframes fadeinout2 {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    -o-transform: translateY(-50%) scale(1.2);
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

@keyframes fadeinout2 {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    -o-transform: translateY(-50%) scale(1.2);
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

@-webkit-keyframes fadeinout {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

@-o-keyframes fadeinout {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    -o-transform: translateY(-50%) scale(1.2);
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

@keyframes fadeinout {
  0% {
    visibility: visible;
    opacity: 0;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  12% {
    opacity: .12;
    -o-transform: translateY(-50%) scale(.8);
    transform: translateY(-50%) scale(.8);
    -webkit-transform: translateY(-50%) scale(.8)
  }

  25% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9);
    -webkit-transform: translateY(-50%) scale(.9)
  }

  50% {
    opacity: .5;
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1)
  }

  75% {
    opacity: .25;
    -o-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
    -webkit-transform: translateY(-50%) scale(1.1)
  }

  to {
    opacity: 0;
    -o-transform: translateY(-50%) scale(1.2);
    transform: translateY(-50%) scale(1.2);
    -webkit-transform: translateY(-50%) scale(1.2);
    visibility: hidden
  }
}

.jwplayer .jw-tooltip,
.jwplayer .jw-rightclick,
.jwplayer .jw-icon-rewind,
.jwplayer .jw-text-elapsed,
.jwplayer .jw-icon-forward,
.jwplayer .jw-text-duration,
.jwplayer .jw-icon-settings,
.jwplayer .jw-slider-vertical,
.jwplayer .jw-display-icon-next,
.jwplayer .jw-display-icon-rewind, 
.jwplayer .jw-nextup-container-visible,
.jwplayer.jw-state-paused .jw-display-icon-display,
.jwplayer.jw-state-playing .jw-display-icon-display,
.jw-slider-volume.jw-volume-tip.jw-reset.jw-slider-vertical,
.jw-icon.jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset.jw-full .jw-overlay.jw-reset {
  display: none !important;
}

.jw-icon {
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  transition: all .1s ease;
  transform-origin: 50% 50%;
}

.jwplayer .jw-settings-menu {
  z-index: 1;
  border-radius: 0;
}

.jw-settings-submenu::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
}

.jw-reset.jw-settings-topbar {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.jwplayer .jw-text-countdown {
  display: flex !important;
  width: fit-content !important;
  height: fit-content !important;
  border: 0 solid !important;
  padding: 0 !important;
  font-size: 1.8em !important;
}

.jw-slider-time.jw-background-color.jw-reset.jw-slider-horizontal.jw-reset {
  font-size: .4em;
  height: 3.3em !important;
  padding-left: 3em !important;
  padding-right: 2.5em !important;
}

.jwplayer .jw-icon::after {
  box-shadow: none !important;
}

.jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset {
  border: 0px !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
}

button.jw-reset-text.jw-settings-content-item {
  display: flex;
  align-items: center !important;
}

button.jw-reset-text.jw-settings-content-item.jw-settings-item-active {
  display: flex !important;
  padding-left: 32px !important;
  align-items: center !important;
  font-weight: 400 !important;
  color: rgba(255,255,255) !important;
}

button.jw-reset-text.jw-settings-content-item:before {
  content: "" !important;
  font-size: 0 !important;
  display: flex !important;
  vertical-align: 4% !important;
  width: 12px !important;
  margin: 14px 10px 14px 10px !important;
  height: 12px !important;
  border: 1px solid #666 !important;
  border-radius: 50% !important;
}

button.jw-reset-text.jw-settings-content-item.jw-settings-item-active:before {
  content: "" !important;
  font-size: 0 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-playback {
  display: flex !important;
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-close.jw-button-color {
  border: 0 !important;
  padding: 0 !important;
  margin-right: 5vw !important;
  width: 40px !important;
  height: 40px !important;
}

.jw-reset.jw-related-container {
  padding: 40px 5vw 40px !important;
}

.jw-related-title.jw-reset-text {
  font-weight: 700 !important;
  color: #fff !important;
  padding: 0 5vw !important;
  line-height: 2 !important;
  font-size: 20px !important;
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-page.jw-related-page-left.jw-button-color {
  padding: 0 !important;
  border: 0 !important;
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  top: 20px !important;
  left: 0 !important;
}

.jw-reset.jw-icon.jw-icon-inline.jw-related-page.jw-related-page-right.jw-button-color {
  padding: 0 !important;
  border: 0 !important;
  width: 40px !important;
  height: 40px !important;
  position: absolute !important;
  top: 20px !important;
  right: 0 !important;
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-next,
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-related-btn,
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-rewind,
.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) .jw-controlbar .jw-button-container>.jw-icon-forward {
  display: none;
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-quality,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-audioTracks,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-captions,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-back,
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-close {
  padding: 0 !important;
  padding-left: 0 !important;
  border: 0 !important;
  width: 40px !important;
  height: 40px !important;
}

.jwplayer .jw-text-track-cue {
  font-weight: 700 !important;
  letter-spacing: -0.022em !important;
  display: inline-block !important;
  text-align: center !important;
  line-height: 1.2em !important;
  padding: 0.2em !important;
  border-radius: 0.2em !important;
}

span.jw-text.jw-reset {
  background-color: #262626 !important;
  border-radius: 0.3em !important;
  color: #fff !important;
  font-size: 1.8em !important;
  padding: 10px !important;
  min-height: 1em !important;
}

.jwplayer .jw-time-tip::after {
  height: 0 !important;
  width: 0 !important;
}

.jw-slider-horizontal .jw-slider-container {
  height: 0.5em !important;
  margin: 0 2.5em 0 0 !important;
}

.jw-progress {
  background-color: #e50914 !important;
}

.jw-knob {
  height: 3em !important;
  width: 3em !important;
  box-shadow: none !important;
  background-color: #e50914 !important;
}

.jw-breakpoint--1:not(.jw-flag-audio-player) .jw-slider-time .jw-knob {
  border-radius: 50px !important;
  border: none !important;
}

.jw-settings-content-item:hover {
  background: #262626;
}

.jw-settings-submenu {
  padding: 0 !important
}

.jw-settings-content-item {
  font-size: 12px !important;
  padding: 10px 0px 10px 0 !important;
  height: 40px !important;
}

.jw-settings-submenu .jw-submenu-topbar {
  box-shadow: none !important;
  background-color: transparent !important;
  margin: 0 !important;
}

.jw-settings-submenu .jw-submenu-topbar .jw-settings-content-item {
  text-align: left !important;
  text-decoration: none !important;
  display: none !important;
}

.jw-settings-topbar {
  background-color: #2f2d2d !important;
  padding: 0 !important;
}

.jw-breakpoint-1 .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-close {
  display: flex !important
}

.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-settings-close {
  display: none;
}

.jw-breakpoint-7 .jw-settings-menu {
  bottom: 70px !important
}

.jw-slider-time:hover .jw-rail,
.jw-horizontal-volume-container:hover .jw-rail,
.jw-slider-time:focus .jw-rail,
.jw-horizontal-volume-container:focus .jw-rail,
.jw-flag-dragging .jw-slider-time .jw-rail,
.jw-flag-dragging .jw-horizontal-volume-container .jw-rail,
.jw-flag-touch .jw-slider-time .jw-rail,
.jw-flag-touch .jw-horizontal-volume-container .jw-rail,
.jw-slider-time:hover .jw-buffer,
.jw-horizontal-volume-container:hover .jw-buffer,
.jw-slider-time:focus .jw-buffer,
.jw-horizontal-volume-container:focus .jw-buffer,
.jw-flag-dragging .jw-slider-time .jw-buffer,
.jw-flag-dragging .jw-horizontal-volume-container .jw-buffer,
.jw-flag-touch .jw-slider-time .jw-buffer,
.jw-flag-touch .jw-horizontal-volume-container .jw-buffer,
.jw-slider-time:hover .jw-progress,
.jw-horizontal-volume-container:hover .jw-progress,
.jw-slider-time:focus .jw-progress,
.jw-horizontal-volume-container:focus .jw-progress,
.jw-flag-dragging .jw-slider-time .jw-progress,
.jw-flag-dragging .jw-horizontal-volume-container .jw-progress,
.jw-flag-touch .jw-slider-time .jw-progress,
.jw-flag-touch .jw-horizontal-volume-container .jw-progress,
.jw-slider-time:hover .jw-cue,
.jw-horizontal-volume-container:hover .jw-cue,
.jw-slider-time:focus .jw-cue,
.jw-horizontal-volume-container:focus .jw-cue,
.jw-flag-dragging .jw-slider-time .jw-cue,
.jw-flag-dragging .jw-horizontal-volume-container .jw-cue,
.jw-flag-touch .jw-slider-time .jw-cue,
.jw-flag-touch .jw-horizontal-volume-container .jw-cue {
  -webkit-transform: translate(0, -50%) scale(1, 1) !important;
  transform: translate(0, -50%) scale(1, 1) !important;
}

.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail,
.jw-slider-time .jw-buffer,
.jw-horizontal-volume-container .jw-buffer,
.jw-slider-time .jw-progress,
.jw-horizontal-volume-container .jw-progress,
.jw-slider-time .jw-cue,
.jw-horizontal-volume-container .jw-cue {
  -webkit-transform: translate(0, -50%) scale(1, 1) !important;
  transform: translate(0, -50%) scale(1, 1) !important;
}

.jwplayer .jw-button-container {
  padding: 0 !important;
  font-size: 1.1em !important;
}

.jw-icon-inline,
.jw-icon-tooltip {
  border: 3px solid transparent !important;
  -webkit-border-radius: 0.3em !important;
  -moz-border-radius: 0.3em !important;
  border-radius: 0.3em !important;
  width: 3.4em !important;
  height: 3.6em !important;
  padding: 0 0 0.6em 0 !important;
}

.jwplayer .jw-svg-icon-fullscreen-on path,
.jwplayer .jw-svg-icon-fullscreen-off path,
.jwplayer .jw-svg-icon-volume-100 path,
.jwplayer .jw-svg-icon-volume-0 path,
.jwplayer .jw-svg-icon-more-videos path,
.jwplayer .jw-svg-icon-next path,
.jwplayer .jw-svg-icon-rewind path,
.jwplayer .jw-svg-icon-forward path,
.jwplayer .jw-svg-icon-play path,
.jwplayer .jw-svg-icon-pause path,
.jwplayer .jw-svg-icon-replay path,
.jwplayer .jw-svg-icon-cc-on path,
.jwplayer .jw-svg-icon-cc-off path,
.jwplayer .jw-svg-icon-close path,
.jwplayer .jw-svg-icon-quality-100 path,
.jwplayer .jw-svg-icon-audio-tracks path,
.jwplayer .jw-svg-icon-buffer path,
.jwplayer .jw-svg-icon-arrow-right path, 
.jwplayer .jw-svg-icon-arrow-left path {
  display: none;
}

.jw-svg-icon-fullscreen-on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg transform='translate(2, 6)'%3E%3Cpolygon points='8 0 6 0 5.04614258 0 0 0 0 5 2 5 2 2 8 2'/%3E%3Cpolygon transform='translate(4, 13.5) scale(1, -1) translate(-4, -13.5) ' points='8 11 6 11 5.04614258 11 0 11 0 16 2 16 2 13 8 13'/%3E%3Cpolygon transform='translate(20, 2.5) scale(-1, 1) translate(-20, -2.5) ' points='24 0 22 0 21.0461426 0 16 0 16 5 18 5 18 2 24 2'/%3E%3Cpolygon transform='translate(20, 13.5) scale(-1, -1) translate(-20, -13.5) ' points='24 11 22 11 21.0461426 11 16 11 16 16 18 16 18 13 24 13'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-fullscreen-off {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg transform='translate(3, 6)'%3E%3Cpolygon transform='translate(19.000000, 3.000000) scale(-1, 1) translate(-19.000000, -3.000000) ' points='22 0 20 0 20 4 16 4 16 6 22 6'/%3E%3Cpolygon transform='translate(19.000000, 13.000000) scale(-1, -1) translate(-19.000000, -13.000000) ' points='22 10 20 10 20 14 16 14 16 16 22 16'/%3E%3Cpolygon points='6 0 4 0 4 4 0 4 0 6 6 6'/%3E%3Cpolygon transform='translate(3.000000, 13.000000) scale(1, -1) translate(-3.000000, -13.000000) ' points='6 10 4 10 4 14 0 14 0 16 6 16'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-volume-100 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cpath d='M13,22 L7,18 L3,18 L3,10 L7,10 L13,6 L13,22 Z M16.7437869,18.3889482 L15.3295734,16.9747347 C16.9546583,15.3496497 16.9546583,12.7148664 15.3295734,11.0897815 L16.7437869,9.6755679 C19.1499205,12.0817014 19.1499205,15.9828147 16.7437869,18.3889482 Z M19.2137399,20.2137399 L17.7995264,18.7995264 C20.4324159,16.1666368 20.4324159,11.8978793 17.7995264,9.26498977 L19.2137399,7.8507762 C22.6276781,11.2647144 22.6276781,16.7998018 19.2137399,20.2137399 Z M21.6836929,22.0385316 L20.2694793,20.6243181 C23.9101736,16.9836239 23.9101736,11.0808923 20.2694793,7.44019807 L21.6836929,6.02598451 C26.1054357,10.4477273 26.1054357,17.6167888 21.6836929,22.0385316 Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-volume-0 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cpolygon points='13,22 7,18 3,18 3,10 7,10 13,6 '/%3E%3Cpath d='M25,17.6L21.4,14l3.6-3.6l-1.2-1.2l-3.6,3.6l-3.6-3.6l-1.2,1.2l3.6,3.6l-3.6,3.6l1.2,1.2l3.6-3.6l3.6,3.6L25,17.6z'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-more-videos {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' style='height: 0px; width: 0px; position: absolute;' viewBox='0 0 28 28' fill='%23fff'%3E%3Cpath d='M27,7.25 L27,14 L24.7142857,14 L24.7142857,7.25 L11,7.25 L11,5 L27,5 L27,7.25 Z M23,11.2222222 L23,19 L20.7333333,19 L20.7333333,11.2222222 L6,11.2222222 L6,9 L23,9 L23,11.2222222 Z M1,13 L19,13 L19,24 L1,24 L1,13 Z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' style='height: 0px; width: 0px; position: absolute; fill:%23fff' viewBox='0 0 28 28'%3E%3Cg transform='translate(6, 6)'%3E%3Cpath d='M0,16 L0,0 L14,8 L0,16 Z M14,16 L14,0 L16,0 L16,16 L14,16 Z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-rewind {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' style='height: 0px; width: 0px; position: absolute; fill:%23fff' viewBox='0 0 28 28'%3E%3Cg stroke='none' stroke-width='1' fill='none'%3E%3Cpath d='M21.9992616,8.99804242 C23.2555293,10.6696987 24,12.7479091 24,15 C24,20.5228475 19.5228475,25 14,25 C8.4771525,25 4,20.5228475 4,15 C4,9.4771525 8.4771525,5 14,5 L16,5' stroke='white' stroke-width='2' transform='translate(14.000000, 15.000000) scale(-1, 1) translate(-14.000000, -15.000000) '/%3E%3Cpolyline stroke='white' stroke-width='2' points='15.5 1.5 12 4.92749023 15.5 8.5'/%3E%3Cpolyline stroke='white' stroke-width='2' points='11 1.5 7.5 5 11 8.5'/%3E%3Ctext font-family='Helvetica' font-size='10' font-weight='400' letter-spacing='-0.3' fill='white'%3E%3Ctspan x='7' y='19'%3E1%3C/tspan%3E%3Ctspan x='12.82' y='19'%3E0%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-forward {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' style='height: 0px; width: 0px; position: absolute; fill:%23fff' viewBox='0 0 28 28'%3E%3Cg stroke='none' stroke-width='1' fill='none'%3E%3Cg transform='translate(14.000000, 13.000000) scale(-1, 1) translate(-14.000000, -13.000000) translate(4.000000, 1.000000)'%3E%3Cpath d='M17.9992616,7.99804242 C19.2555293,9.66969874 20,11.7479091 20,14 C20,19.5228475 15.5228475,24 10,24 C4.4771525,24 0,19.5228475 0,14 C0,8.4771525 4.4771525,4 10,4 L12,4' stroke='white' stroke-width='2' transform='translate(10.000000, 14.000000) scale(-1, 1) translate(-10.000000, -14.000000) '/%3E%3Cpolyline stroke='white' stroke-width='2' points='11.5 0.5 8 3.92749023 11.5 7.5'/%3E%3Cpolyline stroke='white' stroke-width='2' points='7 0.5 3.5 4 7 7.5'/%3E%3C/g%3E%3Ctext font-size='10' font-weight='400' font-family='Helvetica' letter-spacing='-0.3' fill='white'%3E%3Ctspan x='7' y='19'%3E10%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-play {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cpolygon points='8 22 8 6 22.0043763 14'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-replay {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cpolygon points='8 22 8 6 22.0043763 14'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-pause {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Crect x='9' y='6' width='4' height='16'%3E%3C/rect%3E%3Crect x='15' y='6' width='4' height='16'%3E%3C/rect%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-cc-off {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg transform='translate(1, 6)'%3E%3Cpath d='M24,14 L24,19 L19,14 L0,14 L0,0 L26,0 L26,14 L24,14 Z M2,6 L2,8 L7,8 L7,6 L2,6 Z M9,6 L9,8 L17,8 L17,6 L9,6 Z M19,6 L19,8 L24,8 L24,6 L19,6 Z M2,10 L2,12 L10,12 L10,10 L2,10 Z M12,10 L12,12 L17,12 L17,10 L12,10 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-cc-on {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg transform='translate(1, 6)'%3E%3Cpath d='M24,14 L24,19 L19,14 L0,14 L0,0 L26,0 L26,14 L24,14 Z M2,6 L2,8 L7,8 L7,6 L2,6 Z M9,6 L9,8 L17,8 L17,6 L9,6 Z M19,6 L19,8 L24,8 L24,6 L19,6 Z M2,10 L2,12 L10,12 L10,10 L2,10 Z M12,10 L12,12 L17,12 L17,10 L12,10 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.jw-svg-icon-close {
  background-image: url("data:image/svg+xml,%3Csvg role='presentation' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' style='height: 0px; width: 0px; position: absolute; fill:%23fff' viewBox='0 0 18 18'%3E%3Cpath d='M7.53821454,9 L0,1.46178546 L1.46178546,0 L9,7.53821454 L16.5382145,0 L18,1.46178546 L10.4617855,9 L18,16.5382145 L16.5382145,18 L9,10.4617855 L1.46178546,18 L0,16.5382145 L7.53821454,9 Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px !important;
  height: 16px !important;
}

.jw-svg-icon-quality-100 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg%3E%3Cpath d='M25,6.9c0.5,0,1,0.2,1.4,0.6C26.8,7.9,27,8.3,27,8.9v10.3c0,0.5-0.2,1-0.6,1.4s-0.8,0.6-1.4,0.6H3c-0.5,0-1-0.2-1.4-0.6 S1,19.7,1,19.1V8.9c0-0.5,0.2-1,0.6-1.4C2,7.1,2.4,6.9,3,6.9H25z M11.6,10.6v2.9H7.1v-2.9H5.7v7.4h1.4V15h4.5v2.9H13v-7.4H11.6z M15.3,10.6v7.4h3.6c1.1,0,1.9-0.2,2.4-0.6c0.9-0.7,1.3-1.7,1.3-3.1c0-0.7-0.1-1.3-0.3-1.8c-0.2-0.5-0.6-1-1-1.3 c-0.5-0.4-1.3-0.6-2.4-0.6H15.3z M16.7,16.3v-4.2h2c0.4,0,0.8,0,1.1,0.1c0.3,0.1,0.5,0.2,0.7,0.3c0.2,0.1,0.3,0.3,0.4,0.5 s0.2,0.4,0.2,0.6c0,0.2,0,0.4,0,0.6c0,1.4-0.8,2.2-2.3,2.2H16.7z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jw-svg-icon-audio-tracks {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23fff' viewBox='0 0 28 28'%3E%3Cg%3E%3Cpath d='M24.7,5.8c0.6,0,1.2,0.2,1.6,0.7s0.7,1,0.7,1.6v11.8c0,0.6-0.2,1.2-0.7,1.6s-1,0.7-1.6,0.7H3.3c-0.6,0-1.2-0.2-1.6-0.7 S1,20.5,1,19.9V8.1c0-0.6,0.2-1.2,0.7-1.6s1-0.7,1.6-0.7H24.7z M6.7,16.4c0.1,0.7,0.4,1.3,1,1.8c0.5,0.4,1.2,0.7,2.1,0.7 c1,0,1.9-0.4,2.4-1.2c0.4-0.6,0.7-1.3,0.7-2c0-0.9-0.3-1.6-0.8-2.2c-0.5-0.6-1.2-0.8-2-0.8c-0.4,0-0.8,0.1-1.2,0.3l0.3-1.6h3.3V9.8 H7.8l-0.9,4.7l1.4,0.2C8.7,14.2,9.1,14,9.6,14c0.4,0,0.7,0.1,1,0.4c0.3,0.3,0.4,0.7,0.4,1.2c0,0.6-0.1,1-0.4,1.3 c-0.3,0.3-0.6,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.3c-0.2-0.2-0.4-0.5-0.4-0.9L6.7,16.4z M14,17v1.8h1.7V17H14z M18.7,18.7h1.7V9.6 H19c-0.2,0.6-0.6,1.1-1.1,1.5c-0.6,0.4-1.1,0.7-1.5,0.8v1.6c0.9-0.3,1.6-0.7,2.2-1.3V18.7z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jw-svg-icon-buffer {
  background-image: url("/assets/images/icons/site-spinner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jw-svg-icon-arrow-right {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z' fill='%23fff'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.jw-svg-icon-arrow-left {
  background-image: url("data:image/svg+xml,%3Csvg role='presentation' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' fill='%23fff'%3E%3Cpath d='M312,392.74a0.34,0.34,0,0,0-.41-0.34h-6.79v-3.71c0-.3-0.34-0.41-0.45-0.26l-6.79,6.79a0.32,0.32,0,0,0-.11.22,0.29,0.29,0,0,0,.11.26l6.79,6.75a0.26,0.26,0,0,0,.19.11,0.23,0.23,0,0,0,.19,0,0.27,0.27,0,0,0,.19-0.3v-3.71h6.71a0.4,0.4,0,0,0,.38-0.3v-5.48Zm-6.15,17.85A15.13,15.13,0,1,1,321,395.44,15.11,15.11,0,0,1,305.89,410.59Zm0-33.15a18,18,0,1,0,18,18A18.09,18.09,0,0,0,305.89,377.44Z' transform='translate(-287.85 -377.44)'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
