<!DOCTYPE html>
<html>
<head>
  <title>Medium – Where good ideas find you.</title>
</head>
<body>
  <p><a href="https://medium.com/"></a></p>
  <p><a href="https://rsci.app.link/s1cSf8zJT3?~feature=LiOpenInAppButton&amp;~channel=ShowHome&amp;~stage=mobileNavBar">Open in app</a></p>
  <p><a href="/search"></a></p><a href="/me/list/queue"></a>
  <p><a href="https://medium.com/plans?source=upgrade_membership---nav_full----------------------------------">Upgrade</a></p>
  <p><img alt="Quicklook" src="https://miro.medium.com/fit/c/64/64/0*ppcUPyQW_Q8pJfwt.jpg" width="32" height="32"></p>
  <p>01</p>
  <p>02</p>
  <p>03</p>
  <p>04</p>
  <p>05</p>
  <p>06</p>
  <p><a href="https://help.medium.com/hc/en-us?source=home-------------------------------------">
  <p>Help</p></a></p>
  <p><a href="https://medium.statuspage.io/?source=home-------------------------------------">
  <p>Status</p></a></p>
  <p><a href="https://about.medium.com/creators/?source=home-------------------------------------">
  <p>Writers</p></a></p>
  <p><a href="https://blog.medium.com/?source=home-------------------------------------">
  <p>Blog</p></a></p>
  <p><a href="https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=home-------------------------------------">
  <p>Careers</p></a></p>
  <p><a href="https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=home-------------------------------------">
  <p>Privacy</p></a></p>
  <p><a href="https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=home-------------------------------------">
  <p>Terms</p></a></p>
  <p><a href="https://medium.com/about?autoplay=1&amp;source=home-------------------------------------">
  <p>About</p></a></p>
  <p><a href="https://elemental.medium.com/our-obsession-with-body-size-is-a-threat-to-public-health-cc178bf21af1?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Our Obsession With Body Size Is a Threat to Public Health" src="https://miro.medium.com/fit/c/376/282/1*lKKGF4XmGm2aSBZc8S1x1Q.jpeg" width="376"></a></p>
  <p><a href="https://elemental.medium.com/?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Elemental" src="https://miro.medium.com/fit/c/20/20/1*GhG8ZeoE0TGfCHwL9SCrfw.png" width="20" height="20"></a></p>
  <p><a href="/@mheidj?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Markham Heid</h4></a></p>
  <h4>in</h4><a href="https://elemental.medium.com/?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Elemental</h4></a>
  <p><a href="https://elemental.medium.com/our-obsession-with-body-size-is-a-threat-to-public-health-cc178bf21af1?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h2>Our Obsession With Body Size Is a Threat to Public Health</h2></a></p>
  <p><a href="https://elemental.medium.com/our-obsession-with-body-size-is-a-threat-to-public-health-cc178bf21af1?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">Anti-fat bias and weight-loss fixation — including among doctors — is a problem that must be remedied</a></p>
  <p><a href="https://elemental.medium.com/our-obsession-with-body-size-is-a-threat-to-public-health-cc178bf21af1?source=grid_home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">Read More</a></p>
  <p>·</p>5 min read
  <p><a href="/predict?source=grid_home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Predict" src="https://miro.medium.com/fit/c/20/20/1*Vu4RoB0iqeQ7A77HmLBDfA.jpeg" width="20" height="20"></a></p>
  <p><a href="https://wlockett.medium.com/?source=grid_home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Will Lockett</h4></a></p>
  <h4>in</h4><a href="/predict?source=grid_home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Predict</h4></a> <a href="/predict/mars-big-problem-does-elon-know-7453dcb5feaf?source=grid_home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h2>Mars’ Big Problem (Does Elon Know?)</h2></a>
  <p>Mar 9</p>
  <p>·</p>9 min read <a href="/predict/mars-big-problem-does-elon-know-7453dcb5feaf?source=home------------------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Mars’ Big Problem (Does Elon Know?)" src="https://miro.medium.com/fit/c/100/100/1*FUZK5IG2wUPht2MIBorr3A.jpeg" width="100" height="100"></a>
  <p><a href="/concoda?source=grid_home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Concoda" src="https://miro.medium.com/fit/c/20/20/1*Nz5Yp1WEE1G_umWSF2KTrQ.jpeg" width="20" height="20"></a></p>
  <p><a href="/@concoda?source=grid_home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Concoda</h4></a></p><a href="/concoda/americas-fate-now-rests-on-the-stonk-market-going-up-2ce14792233d?source=grid_home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h2>The Elites Have Set the Stage For the Greatest Economic Crisis In Modern History</h2></a>
  <p>Feb 14</p>
  <p>·</p>7 min read <a href="/concoda/americas-fate-now-rests-on-the-stonk-market-going-up-2ce14792233d?source=home------------------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="The Elites Have Set the Stage For the Greatest Economic Crisis In Modern History" src="https://miro.medium.com/fit/c/100/100/0*33B8jhFlnxz8eoYE" width="100" height="100"></a>
  <p><a href="/pythonland?source=grid_home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Python Land" src="https://miro.medium.com/fit/c/20/20/1*cZPGS5SqfV9s0f4cBH5bZA.png" width="20" height="20"></a></p>
  <p><a href="/@eriky?source=grid_home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Erik van Baaren</h4></a></p>
  <h4>in</h4><a href="/pythonland?source=grid_home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Python Land</h4></a> <a href="/pythonland/top-15-python-packages-you-must-try-838ebb9545dc?source=grid_home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h2>Top 15 Python Packages You Must Try</h2></a>
  <p>Mar 2</p>
  <p>·</p>9 min read <a href="/pythonland/top-15-python-packages-you-must-try-838ebb9545dc?source=home------------------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Top 15 Python Packages You Must Try" src="https://miro.medium.com/fit/c/100/100/1*7zkhLkFWrESE-BVMfNVDbw.png" width="100" height="100"></a>
  <p><a href="/atta-girl?source=grid_home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="Atta Girl" src="https://miro.medium.com/fit/c/20/20/1*iXi22BBwZoGKomUJTe-xAw.png" width="20" height="20"></a></p>
  <p><a href="https://siddalee.medium.com/?source=grid_home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Sidda Lee</h4></a></p>
  <h4>in</h4><a href="/atta-girl?source=grid_home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h4>Atta Girl</h4></a> <a href="/atta-girl/to-the-gen-zer-who-cancelled-my-skinny-jeans-b90c48a4bc78?source=grid_home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12">
  <h2>To The Gen Z’er Who Cancelled My Skinny Jeans</h2></a>
  <p>Feb 17</p>
  <p>·</p>6 min read <a href="/atta-girl/to-the-gen-zer-who-cancelled-my-skinny-jeans-b90c48a4bc78?source=home------------------------------242ed620_c40b_4228_8c18_d72220a2efe3-------12"><img alt="To The Gen Z’er Who Cancelled My Skinny Jeans" src="https://miro.medium.com/fit/c/100/100/0*-BV0Uai-zzzgqQ4A" width="100" height="100"></a>
  <p>Discover Medium writers you already follow on Twitter.</p><a href="//medium.com/m/account/authenticate-twitter?state=twitter-%7Chttps%3A%2F%2Fmedium.com%2Fme%2Ffollowing%2Fsuggestions%3FconnectTwitter%3Dtrue%26source%3Dhome-------------------------------------%7Cconnect%7Ca63f35a81191&amp;source=home-------------------------------------">
  <p>Connect to Twitter</p></a>
  <p>Maybe Later</p>
  <p>Creators to Follow</p>
  <p><a href="/@anildash?source=home-------------------------------------"><img alt="Anil Dash" src="https://miro.medium.com/fit/c/64/64/1*yWQSXi7DUTz3mnjCCTVrCw.jpeg" width="64" height="64"></a></p>
  <p><a href="/@anildash?source=home-------------------------------------">
  <p>Anil Dash</p>
  <p>CEO of @Glitch. Trying to make tech more ethical & humane. (Also an advisor to Medium.) More: http://anildash.com/</p></a></p>
  <p>Follow</p>
  <p><a href="https://deepakchopra.medium.com/?source=home-------------------------------------"><img alt="Deepak Chopra" src="https://miro.medium.com/fit/c/64/64/2*7XgqvddKiVCAv9yG4e74WQ.png" width="64" height="64"></a></p>
  <p><a href="https://deepakchopra.medium.com/?source=home-------------------------------------">
  <p>Deepak Chopra</p></a></p>
  <p>Follow</p>
  <p>Topics To Follow</p>
  <p><a href="https://medium.com/topic/productivity?source=home-------------------------------------">
  <p>Productivity</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topic/machine-learning?source=home-------------------------------------">
  <p>Machine Learning</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topic/politics?source=home-------------------------------------">
  <p>Politics</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topics?source=home-------------------------------------">
  <p>See More</p></a></p>
  <p>Discover Medium writers you already follow on Twitter.</p><a href="//medium.com/m/account/authenticate-twitter?state=twitter-%7Chttps%3A%2F%2Fmedium.com%2Fme%2Ffollowing%2Fsuggestions%3FconnectTwitter%3Dtrue%26source%3Dhome-------------------------------------%7Cconnect%7Ca63f35a81191&amp;source=home-------------------------------------">
  <p>Connect to Twitter</p></a>
  <p>Maybe Later</p>
  <p>Creators to Follow</p>
  <p><a href="/@anildash?source=home-------------------------------------"><img alt="Anil Dash" src="https://miro.medium.com/fit/c/64/64/1*yWQSXi7DUTz3mnjCCTVrCw.jpeg" width="64" height="64"></a></p>
  <p><a href="/@anildash?source=home-------------------------------------">
  <p>Anil Dash</p>
  <p>CEO of @Glitch. Trying to make tech more ethical & humane. (Also an advisor to Medium.) More: http://anildash.com/</p></a></p>
  <p>Follow</p>
  <p><a href="https://deepakchopra.medium.com/?source=home-------------------------------------"><img alt="Deepak Chopra" src="https://miro.medium.com/fit/c/64/64/2*7XgqvddKiVCAv9yG4e74WQ.png" width="64" height="64"></a></p>
  <p><a href="https://deepakchopra.medium.com/?source=home-------------------------------------">
  <p>Deepak Chopra</p></a></p>
  <p>Follow</p>
  <p>Topics To Follow</p>
  <p><a href="https://medium.com/topic/productivity?source=home-------------------------------------">
  <p>Productivity</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topic/machine-learning?source=home-------------------------------------">
  <p>Machine Learning</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topic/politics?source=home-------------------------------------">
  <p>Politics</p></a></p>
  <p>Follow</p>
  <p><a href="https://medium.com/topics?source=home-------------------------------------">
  <p>See More</p></a></p>
  <p>Trending on Medium</p>
  <p>01</p>
  <p><a href="https://hemjhaveri.medium.com/?source=home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="Hemal Jhaveri" src="https://miro.medium.com/fit/c/20/20/0*00fo5kuNaBdYNMhl.jpeg" width="20" height="20"></a></p>
  <p><a href="https://hemjhaveri.medium.com/?source=home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>Hemal Jhaveri</h4></a></p>
  <p><a href="https://hemjhaveri.medium.com/i-am-no-longer-working-at-usa-today-heres-what-happened-7ebd540a510e?source=home---------0---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>I am no longer working at USA TODAY. Here’s what happened.</h2></a></p>
  <p>Mar 26</p>
  <p>·</p>6 min read
  <p>02</p>
  <p><a href="https://rossulbricht.medium.com/?source=home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="Ross Ulbricht" src="https://miro.medium.com/fit/c/20/20/2*kOIWHLURBhIq6WyByDfDQw.jpeg" width="20" height="20"></a></p>
  <p><a href="https://rossulbricht.medium.com/?source=home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>Ross Ulbricht</h4></a></p>
  <p><a href="https://rossulbricht.medium.com/keep-playing-b42f4df9de03?source=home---------1---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>Keep Playing</h2></a></p>
  <p>Mar 27</p>
  <p>·</p>3 min read
  <p>03</p>
  <p><a href="/@AndyKimNJ03?source=home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="Andy Kim for Congress" src="https://miro.medium.com/fit/c/20/20/1*cVRo--jlj5GdmHGSqg9Wbw.jpeg" width="20" height="20"></a></p>
  <p><a href="/@AndyKimNJ03?source=home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>Andy Kim for Congress</h4></a></p>
  <p><a href="/@AndyKimNJ03/the-talk-c4164f41ed0a?source=home---------2---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>“The Talk”</h2></a></p>
  <p>Mar 27</p>
  <p>·</p>4 min read
  <p>04</p>
  <p><a href="https://eand.co/?source=home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="Eudaimonia and Co" src="https://miro.medium.com/fit/c/20/20/1*-93e6dF2917cSfg3B3S4hg.png" width="20" height="20"></a></p>
  <p><a href="/@umairh?source=home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>umair haque</h4></a></p>
  <h4>in</h4><a href="https://eand.co/?source=home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>Eudaimonia and Co</h4></a>
  <p><a href="https://eand.co/why-do-americans-idolize-the-super-rich-5590d80471ce?source=home---------3---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>Why Do Americans Idolize the Super Rich?</h2></a></p>
  <p>Mar 28</p>
  <p>·</p>9 min read
  <p>05</p>
  <p><a href="https://marinersblog.mlblogs.com/?source=home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="From the Corner of Edgar &amp; Dave" src="https://miro.medium.com/fit/c/20/20/1*C6DOYVVdw9FniW1KBGws2g.jpeg" width="20" height="20"></a></p>
  <p><a href="https://marinerspr.medium.com/?source=home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>MarinersPR</h4></a></p>
  <h4>in</h4><a href="https://marinersblog.mlblogs.com/?source=home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>From the Corner of Edgar & Dave</h4></a>
  <p><a href="https://marinersblog.mlblogs.com/mariners-announce-spring-training-roster-moves-f933cf9ba54f?source=home---------4---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>Mariners Announce Spring Training Roster Moves</h2></a></p>
  <p>Mar 28</p>
  <p>·</p>2 min read
  <p>06</p>
  <p><a href="https://writingcooperative.com/?source=home---------5---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7"><img alt="The Writing Cooperative" src="https://miro.medium.com/fit/c/20/20/1*ncPYk-GpFrsSvCc7qWiUmQ.png" width="20" height="20"></a></p>
  <p><a href="https://timdenning.medium.com/?source=home---------5---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>Tim Denning</h4></a></p>
  <h4>in</h4><a href="https://writingcooperative.com/?source=home---------5---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h4>The Writing Cooperative</h4></a>
  <p><a href="https://writingcooperative.com/your-views-arent-down-your-quality-has-massively-dropped-ea1aa87083b7?source=home---------5---------------------242ed620_c40b_4228_8c18_d72220a2efe3-------7">
  <h2>Your Views Aren’t Down. Your Quality Has Massively Dropped.</h2></a></p>
  <p>Mar 28</p>
  <p>·</p>6 min read
  <p><a href="https://theapeiron.co.uk/?source=extreme_main_feed---------0-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="The Apeiron Blog" src="https://miro.medium.com/fit/c/20/20/1*ddOJDbrEbN5zLoWmmas5Wg.png" width="20" height="20"></a></p>
  <p><a href="https://jessicalexicus.medium.com/?source=extreme_main_feed---------0-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Jessica Wildfire</h4></a></p>
  <h4>in</h4><a href="https://theapeiron.co.uk/?source=extreme_main_feed---------0-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>The Apeiron Blog</h4></a> <a href="https://theapeiron.co.uk/the-5-most-overrated-people-on-the-planet-bdd4f621aa2a?source=extreme_main_feed---------0-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>The 5 Most Overrated Personalities on The Planet</h2>
  <h3>Our heroes reveal our values.</h3></a>
  <p>Mar 10</p>
  <p>·</p>7 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://theapeiron.co.uk/the-5-most-overrated-people-on-the-planet-bdd4f621aa2a?source=extreme_main_feed---------0-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="The 5 Most Overrated Personalities on The Planet" src="https://miro.medium.com/fit/c/200/134/1*amkHKqOb8lCXYk2Jum-Spw.jpeg" width="200" height="134"></a>
  <p><a href="https://entrepreneurshandbook.co/?source=extreme_main_feed---------1-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Entrepreneur's Handbook" src="https://miro.medium.com/fit/c/20/20/1*ZpqTjur1EEzN4KzM4e-Bnw.png" width="20" height="20"></a></p>
  <p><a href="https://josephmavericks.medium.com/?source=extreme_main_feed---------1-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Joseph Mavericks</h4></a></p>
  <h4>in</h4><a href="https://entrepreneurshandbook.co/?source=extreme_main_feed---------1-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Entrepreneur's Handbook</h4></a> <a href="https://entrepreneurshandbook.co/how-will-smith-went-from-2-8-million-in-debt-to-350-million-in-cash-7f0723c46bf5?source=extreme_main_feed---------1-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>How Will Smith Went from $2.8 Million in Debt to $350 Million in Cash</h2>
  <h3>Danger is real, fear is a choice</h3></a>
  <p>Feb 7</p>
  <p>·</p>7 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://entrepreneurshandbook.co/how-will-smith-went-from-2-8-million-in-debt-to-350-million-in-cash-7f0723c46bf5?source=extreme_main_feed---------1-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="How Will Smith Went from $2.8 Million in Debt to $350 Million in Cash" src="https://miro.medium.com/fit/c/200/134/1*X3iB8du966I7VrAPRrUvMQ.jpeg" width="200" height="134"></a>
  <p><a href="https://codeburst.io/?source=extreme_main_feed---------2-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="codeburst" src="https://miro.medium.com/fit/c/20/20/1*mNmxddJJTzkiBfK77mWuGA.png" width="20" height="20"></a></p>
  <p><a href="https://sophiamartin121.medium.com/?source=extreme_main_feed---------2-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Sophia Martin</h4></a></p>
  <h4>in</h4><a href="https://codeburst.io/?source=extreme_main_feed---------2-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>codeburst</h4></a> <a href="https://codeburst.io/angularjs-vs-nodejs-vs-reactjs-which-is-the-best-choice-in-2021-129b54f9768e?source=extreme_main_feed---------2-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>AngularJs. Vs. NodeJs. Vs. ReactJs: Which Is The Best Choice in 2021?</h2>
  <h3>Trying to create the Netflix, Amazon, PayPal, or LinkedIn? Choosing the right JavaScript framework could be your most important decision.</h3></a>
  <p>Feb 16</p>
  <p>·</p>9 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://codeburst.io/angularjs-vs-nodejs-vs-reactjs-which-is-the-best-choice-in-2021-129b54f9768e?source=extreme_main_feed---------2-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="AngularJs. Vs. NodeJs. Vs. ReactJs: Which Is The Best Choice in 2021?" src="https://miro.medium.com/fit/c/200/134/1*Ru7kP2Tz5IweBVrxY27aQQ.png" width="200" height="134"></a>
  <p>Who to follow</p>
  <p><a href="https://andjelicaaa.medium.com/?source=home---------0---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Ana Andjelic" src="https://miro.medium.com/fit/c/48/48/1*_0Y20kAdbY0uTaagOPaaig.png" width="48" height="48"></a></p>
  <p><a href="https://andjelicaaa.medium.com/?source=home---------0---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Ana Andjelic</h2>
  <p>Strategy Executive. Author of “The Business of Aspiration.” Doctor of Sociology. Forbes’ one of The World’s Most Influential CMOs.</p></a></p>Follow
  <p><a href="https://juliovincent.medium.com/?source=home---------1---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Julio Vincent Gambuto" src="https://miro.medium.com/fit/c/48/48/1*Getjt7gvTEX6BpaCPrbfNg.png" width="48" height="48"></a></p>
  <p><a href="https://juliovincent.medium.com/?source=home---------1---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Julio Vincent Gambuto</h2>
  <p>“Giulio” (It’s Italian.) Writer/Director. Creative. Thinker. Weekly: where the personal, pandemic and the political meet / juliovincent.com • Tw: @juliovincent</p></a></p>Follow
  <p><a href="https://ashleyabrmsn.medium.com/?source=home---------2---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Ashley Abramson" src="https://miro.medium.com/fit/c/48/48/1*AAlTuj8aUOWNNAH91dzShA.jpeg" width="48" height="48"></a></p>
  <p><a href="https://ashleyabrmsn.medium.com/?source=home---------2---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Ashley Abramson</h2>
  <p>Writer-mom hybrid. Health & psychology stories in NYT, WaPo, Allure, Real Simple, & more.</p></a></p>Follow
  <p><a href="/extremetech-access?source=extreme_main_feed---------4-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="ExtremeTech Access" src="https://miro.medium.com/freeze/fit/c/20/20/1*HT_dgyGIAq7O_LwMVW68Xw.gif" width="20" height="20"></a></p>
  <p><a href="https://extremetech.medium.com/?source=extreme_main_feed---------4-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>ExtremeTech</h4></a></p>
  <h4>in</h4><a href="/extremetech-access?source=extreme_main_feed---------4-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>ExtremeTech Access</h4></a> <a href="/extremetech-access/elon-musk-explains-why-starship-sn10-exploded-after-landing-ff6fb7f9e2c0?source=extreme_main_feed---------4-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Elon Musk Explains Why Starship SN10 Exploded After Landing</h2>
  <h3>by Ryan Whitwam</h3></a>
  <p>Mar 11</p>
  <p>·</p>3 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/extremetech-access/elon-musk-explains-why-starship-sn10-exploded-after-landing-ff6fb7f9e2c0?source=extreme_main_feed---------4-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Elon Musk Explains Why Starship SN10 Exploded After Landing" src="https://miro.medium.com/fit/c/200/134/0*IM8NkH0EBLb18LgI.jpg" width="200" height="134"></a>
  <p><a href="https://medium.datadriveninvestor.com/?source=extreme_main_feed---------5-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="DataDrivenInvestor" src="https://miro.medium.com/fit/c/20/20/1*2mBCfRUpdSYRuf9EKnhTDQ.png" width="20" height="20"></a></p>
  <p><a href="https://robertca.medium.com/?source=extreme_main_feed---------5-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Robert C.</h4></a></p>
  <h4>in</h4><a href="https://medium.datadriveninvestor.com/?source=extreme_main_feed---------5-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>DataDrivenInvestor</h4></a> <a href="https://medium.datadriveninvestor.com/lets-talk-about-the-overlooked-m1-issue-3bde11fb4028?source=extreme_main_feed---------5-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Let’s Talk About The Overlooked M1 Issue</h2>
  <h3>You might want to think about this before investing in an M1 Mac.</h3></a>
  <p>Feb 19</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://medium.datadriveninvestor.com/lets-talk-about-the-overlooked-m1-issue-3bde11fb4028?source=extreme_main_feed---------5-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Let’s Talk About The Overlooked M1 Issue" src="https://miro.medium.com/fit/c/200/134/1*vqBnPSGbENEmm_BJ0fk37A.png" width="200" height="134"></a>
  <p><a href="/modern-parent?source=extreme_main_feed---------6-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Modern Parent" src="https://miro.medium.com/fit/c/20/20/1*FCaRcjWHZAXKiF6EeIn-XA.jpeg" width="20" height="20"></a></p>
  <p><a href="https://shppoole.medium.com/?source=extreme_main_feed---------6-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Susan Poole</h4></a></p>
  <h4>in</h4><a href="/modern-parent?source=extreme_main_feed---------6-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Modern Parent</h4></a> <a href="/modern-parent/i-finally-understand-why-other-women-were-staring-7cc98f8f4366?source=extreme_main_feed---------6-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>I Finally Understand Why Other Women Were Staring</h2>
  <h3>Even when my kids were behaving.</h3></a>
  <p>Mar 4</p>
  <p>·</p>7 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/modern-parent/i-finally-understand-why-other-women-were-staring-7cc98f8f4366?source=extreme_main_feed---------6-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="I Finally Understand Why Other Women Were Staring" src="https://miro.medium.com/fit/c/200/134/0*MsAK9QrFCuzfx_e5" width="200" height="134"></a>
  <p><a href="/in-fitness-and-in-health?source=extreme_main_feed---------7-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="In Fitness And In Health" src="https://miro.medium.com/fit/c/20/20/1*BAfznIuyq9GqRfKvT5FofQ.jpeg" width="20" height="20"></a></p>
  <p><a href="https://alyssamat.medium.com/?source=extreme_main_feed---------7-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Alyssa Atkinson</h4></a></p>
  <h4>in</h4><a href="/in-fitness-and-in-health?source=extreme_main_feed---------7-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>In Fitness And In Health</h4></a> <a href="/in-fitness-and-in-health/3-habits-of-incredibly-healthy-people-e3bc5ffb4b00?source=extreme_main_feed---------7-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>3 Habits of Incredibly Healthy People</h2>
  <h3>No, you don’t have to go to the gym.</h3></a>
  <p>Feb 7</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/in-fitness-and-in-health/3-habits-of-incredibly-healthy-people-e3bc5ffb4b00?source=extreme_main_feed---------7-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="3 Habits of Incredibly Healthy People" src="https://miro.medium.com/fit/c/200/134/0*N8m6WUQQDytZVzsu" width="200" height="134"></a>
  <p><a href="https://seedifyfund.medium.com/?source=extreme_main_feed---------8-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Seedify Fund" src="https://miro.medium.com/fit/c/20/20/1*Txf_8T502dH5BRqasdeCOA.png" width="20" height="20"></a></p>
  <p><a href="https://seedifyfund.medium.com/?source=extreme_main_feed---------8-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Seedify Fund</h4></a></p><a href="https://seedifyfund.medium.com/seedify-fund-launchpad-introduction-community-polls-1007fa31840f?source=extreme_main_feed---------8-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Seedify.fund Launchpad Introduction & Community Polls</h2>
  <h3>Hello Seedify.fund Community! Today we are here to introduce you Seedify.fund Launchpad & decide on some of its features together!</h3></a>
  <p>Mar 7</p>
  <p>·</p>4 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://seedifyfund.medium.com/seedify-fund-launchpad-introduction-community-polls-1007fa31840f?source=extreme_main_feed---------8-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Seedify.fund Launchpad Introduction &amp; Community Polls" src="https://miro.medium.com/fit/c/200/134/1*k93CCiLFLfzp9sxFs7-x5g.png" width="200" height="134"></a>
  <p><a href="https://levelup.gitconnected.com/?source=extreme_main_feed---------9-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Level Up Coding" src="https://miro.medium.com/fit/c/20/20/1*5D9oYBd58pyjMkV_5-zXXQ.jpeg" width="20" height="20"></a></p>
  <p><a href="https://thclark.medium.com/?source=extreme_main_feed---------9-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Tom Clark</h4></a></p>
  <h4>in</h4><a href="https://levelup.gitconnected.com/?source=extreme_main_feed---------9-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Level Up Coding</h4></a> <a href="https://levelup.gitconnected.com/im-sending-my-m1-apple-back-it-s-not-ready-yet-a4b80f23c6b4?source=extreme_main_feed---------9-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>I’m sending my M1 Apple back. It’s not ready yet.</h2>
  <h3>My conclusion: Engineers and scientists especially should steer clear (for now).</h3></a>
  <p>Feb 7</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://levelup.gitconnected.com/im-sending-my-m1-apple-back-it-s-not-ready-yet-a4b80f23c6b4?source=extreme_main_feed---------9-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="I’m sending my M1 Apple back. It’s not ready yet." src="https://miro.medium.com/fit/c/200/134/1*z1nuXiZlCcUn9lb2HhQwKA.png" width="200" height="134"></a>
  <p><a href="https://level.medium.com/?source=extreme_main_feed---------10-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="LEVEL" src="https://miro.medium.com/fit/c/20/20/1*-YtQ8mQJJWESY-UiP7Nc2A.png" width="20" height="20"></a></p>
  <p><a href="https://jeremyhelligar.medium.com/?source=extreme_main_feed---------10-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Jeremy Helligar</h4></a></p>
  <h4>in</h4><a href="https://level.medium.com/?source=extreme_main_feed---------10-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>LEVEL</h4></a> <a href="https://level.medium.com/piers-morgan-tried-to-whitesplain-racism-to-me-on-tv-957ca8a14e3b?source=extreme_main_feed---------10-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Piers Morgan Tried to Whitesplain Racism to Me on TV</h2>
  <h3>Two years ago, I debated the ex-’Good Morning Britain’ host — and he was exactly who you’d think</h3></a>
  <p>Mar 17</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://level.medium.com/piers-morgan-tried-to-whitesplain-racism-to-me-on-tv-957ca8a14e3b?source=extreme_main_feed---------10-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Piers Morgan Tried to Whitesplain Racism to Me on TV" src="https://miro.medium.com/fit/c/200/134/1*yS3tTGGKhJV9hKqnHJGFMw.jpeg" width="200" height="134"></a>
  <p><a href="https://historyofyesterday.com/?source=extreme_main_feed---------11-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="History of Yesterday" src="https://miro.medium.com/fit/c/20/20/1*Z_fb9DkI9sMIKK9mDLveKA.jpeg" width="20" height="20"></a></p>
  <p><a href="https://andrei-tapalaga.medium.com/?source=extreme_main_feed---------11-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Andrei Tapalaga ✒️</h4></a></p>
  <h4>in</h4><a href="https://historyofyesterday.com/?source=extreme_main_feed---------11-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>History of Yesterday</h4></a> <a href="https://historyofyesterday.com/the-secrets-at-the-bottom-of-the-deepest-lake-in-the-world-eb6a1333f95f?source=extreme_main_feed---------11-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>The Secrets at the Bottom of the Deepest Lake in the World</h2>
  <h3>The strange Baikal lake from Siberia</h3></a>
  <p>Mar 8</p>
  <p>·</p>4 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://historyofyesterday.com/the-secrets-at-the-bottom-of-the-deepest-lake-in-the-world-eb6a1333f95f?source=extreme_main_feed---------11-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="The Secrets at the Bottom of the Deepest Lake in the World" src="https://miro.medium.com/fit/c/200/134/0*07NUaUM-RlfE9rXC.jpg" width="200" height="134"></a>
  <p><a href="/personal-growth?source=extreme_main_feed---------12-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Personal Growth" src="https://miro.medium.com/fit/c/20/20/1*M1G7XIOUgEfa2SPuOyLYIg.jpeg" width="20" height="20"></a></p>
  <p><a href="https://sinemgnel.medium.com/?source=extreme_main_feed---------12-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Sinem Günel</h4></a></p>
  <h4>in</h4><a href="/personal-growth?source=extreme_main_feed---------12-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Personal Growth</h4></a> <a href="/personal-growth/how-to-build-unshakable-self-discipline-e231b42cbf82?source=extreme_main_feed---------12-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>How to Build Unshakable Self-Discipline</h2>
  <h3>3 Simple steps that will help you achieve your goals with ease.</h3></a>
  <p>Feb 19</p>
  <p>·</p>8 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/personal-growth/how-to-build-unshakable-self-discipline-e231b42cbf82?source=extreme_main_feed---------12-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="How to Build Unshakable Self-Discipline" src="https://miro.medium.com/fit/c/200/134/1*S6TQwl0zWJQmiZY8LEilqg.jpeg" width="200" height="134"></a>
  <p><a href="/the-post-grad-survival-guide?source=extreme_main_feed---------13-59--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="The Post-Grad Survival Guide" src="https://miro.medium.com/fit/c/20/20/1*XSLo8agVpmAJUlUKxxVEgg.png" width="20" height="20"></a></p>
  <p><a href="https://krystalwascher.medium.com/?source=extreme_main_feed---------13-59--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Krystal Wascher</h4></a></p>
  <h4>in</h4><a href="/the-post-grad-survival-guide?source=extreme_main_feed---------13-59--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>The Post-Grad Survival Guide</h4></a> <a href="/the-post-grad-survival-guide/how-i-earn-1-000-per-month-from-1-blog-post-e52e4d056ae?source=extreme_main_feed---------13-59--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>How to Make $1,000+ Per Month With One Blog Post</h2>
  <h3>A simple strategy for making money with a blog that you may not have considered.</h3></a>
  <p>Oct 22, 2020</p>
  <p>·</p>7 min read
  <p>·</p>
  <p>Based on your reading history</p><a href="/the-post-grad-survival-guide/how-i-earn-1-000-per-month-from-1-blog-post-e52e4d056ae?source=extreme_main_feed---------13-59--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="How to Make $1,000+ Per Month With One Blog Post" src="https://miro.medium.com/fit/c/200/134/1*cPRl_nQZF7w8mAvr7ZIBdw.jpeg" width="200" height="134"></a>
  <p><a href="/mind-cafe?source=extreme_main_feed---------14-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Mind Cafe" src="https://miro.medium.com/fit/c/20/20/1*8ndrLe4Ldljn8ba1A-FbFA.png" width="20" height="20"></a></p>
  <p><a href="https://chef-boyardeji.medium.com/?source=extreme_main_feed---------14-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Ayodeji Awosika</h4></a></p>
  <h4>in</h4><a href="/mind-cafe?source=extreme_main_feed---------14-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Mind Cafe</h4></a> <a href="/mind-cafe/one-tiny-observation-that-can-tell-you-a-lot-about-someone-3e8bca4e9a01?source=extreme_main_feed---------14-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>One Tiny Observation That Can Tell You a Lot About Someone</h2>
  <h3>I use this rule constantly.</h3></a>
  <p>Feb 21</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/mind-cafe/one-tiny-observation-that-can-tell-you-a-lot-about-someone-3e8bca4e9a01?source=extreme_main_feed---------14-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="One Tiny Observation That Can Tell You a Lot About Someone" src="https://miro.medium.com/fit/c/200/134/0*PrTYuOVsUJed7F_r" width="200" height="134"></a>
  <p><a href="https://towardsdatascience.com/?source=extreme_main_feed---------15-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Towards Data Science" src="https://miro.medium.com/fit/c/20/20/1*eLxNtw6hQ4-3HrHda5BCCw.png" width="20" height="20"></a></p>
  <p><a href="https://sergencansiz.medium.com/?source=extreme_main_feed---------15-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Sergen Cansiz</h4></a></p>
  <h4>in</h4><a href="https://towardsdatascience.com/?source=extreme_main_feed---------15-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Towards Data Science</h4></a> <a href="https://towardsdatascience.com/5-things-you-should-know-about-covariance-26b12a0516f1?source=extreme_main_feed---------15-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>5 Things You Should Know About Covariance</h2>
  <h3>When dealing with problems on statistics and machine learning, one of the most frequently encountered terms is covariance. While most of…</h3></a>
  <p>Mar 25</p>
  <p>·</p>6 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://towardsdatascience.com/5-things-you-should-know-about-covariance-26b12a0516f1?source=extreme_main_feed---------15-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="5 Things You Should Know About Covariance" src="https://miro.medium.com/fit/c/200/134/1*uttVSbqTfNU4A-e_MeHgbA.jpeg" width="200" height="134"></a>
  <p><a href="https://www.inbitcoinwetrust.net/?source=extreme_main_feed---------16-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="In Bitcoin We Trust" src="https://miro.medium.com/fit/c/20/20/1*PTrzGSrv9fc2X5GP7nOS5A.png" width="20" height="20"></a></p>
  <p><a href="/@m.helfman?source=extreme_main_feed---------16-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Mark Helfman</h4></a></p>
  <h4>in</h4><a href="https://www.inbitcoinwetrust.net/?source=extreme_main_feed---------16-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>In Bitcoin We Trust</h4></a> <a href="https://www.inbitcoinwetrust.net/could-bitcoins-bull-market-end-next-month-770583f2dfc6?source=extreme_main_feed---------16-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Could Bitcoin’s Bull Market End Next Month?</h2>
  <h3>My family’s financial welfare depends on bitcoin’s success. That’s why it’s so important I publish this article.</h3></a>
  <p>Mar 14</p>
  <p>·</p>7 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://www.inbitcoinwetrust.net/could-bitcoins-bull-market-end-next-month-770583f2dfc6?source=extreme_main_feed---------16-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Could Bitcoin’s Bull Market End Next Month?" src="https://miro.medium.com/fit/c/200/134/1*AAuAQC2-lFLKAuPvkbla3A.jpeg" width="200" height="134"></a>
  <p><a href="https://elemental.medium.com/?source=extreme_main_feed---------17-1--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Elemental" src="https://miro.medium.com/fit/c/20/20/1*GhG8ZeoE0TGfCHwL9SCrfw.png" width="20" height="20"></a></p>
  <p><a href="https://anna.medium.com/?source=extreme_main_feed---------17-1--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Anna Maltby</h4></a></p>
  <h4>in</h4><a href="https://elemental.medium.com/?source=extreme_main_feed---------17-1--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Elemental</h4></a> <a href="https://elemental.medium.com/a-no-equipment-cardio-exercise-that-strengthens-your-lower-body-too-2d1951e26b5b?source=extreme_main_feed---------17-1--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>A No-Equipment Cardio Exercise That Strengthens Your Lower Body, Too</h2>
  <h3>Can’t squeeze in a whole workout? You have time for this.</h3></a>
  <p>Feb 22</p>
  <p>·</p>2 min read
  <p>·</p>
  <p>From your network</p><a href="https://elemental.medium.com/a-no-equipment-cardio-exercise-that-strengthens-your-lower-body-too-2d1951e26b5b?source=extreme_main_feed---------17-1--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="A No-Equipment Cardio Exercise That Strengthens Your Lower Body, Too" src="https://miro.medium.com/freeze/fit/c/200/134/1*lulbm1WdJ0FlxcJKtvmDig.gif" width="200" height="134"></a>
  <p><a href="https://rossulbricht.medium.com/?source=extreme_main_feed---------18-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Ross Ulbricht" src="https://miro.medium.com/fit/c/20/20/2*kOIWHLURBhIq6WyByDfDQw.jpeg" width="20" height="20"></a></p>
  <p><a href="https://rossulbricht.medium.com/?source=extreme_main_feed---------18-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Ross Ulbricht</h4></a></p><a href="https://rossulbricht.medium.com/decentralize-social-media-cc47dcfd4f99?source=extreme_main_feed---------18-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Decentralize Social Media</h2>
  <h3>by Ross Ulbricht</h3></a>
  <p>Mar 12</p>
  <p>·</p>29 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://rossulbricht.medium.com/decentralize-social-media-cc47dcfd4f99?source=extreme_main_feed---------18-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Decentralize Social Media" src="https://miro.medium.com/fit/c/200/134/1*fkcGmP_C8eUXcZWla_hfaw.jpeg" width="200" height="134"></a>
  <p><a href="https://level.medium.com/?source=extreme_main_feed---------19-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="LEVEL" src="https://miro.medium.com/fit/c/20/20/1*-YtQ8mQJJWESY-UiP7Nc2A.png" width="20" height="20"></a></p>
  <p><a href="/@level.editors?source=extreme_main_feed---------19-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>LEVEL Editors</h4></a></p>
  <h4>in</h4><a href="https://level.medium.com/?source=extreme_main_feed---------19-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>LEVEL</h4></a> <a href="https://level.medium.com/6-holidays-black-people-refuse-to-celebrate-ranked-fc43824766c9?source=extreme_main_feed---------19-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>6 Holidays Black People Refuse to Celebrate, Ranked</h2>
  <h3>Not even a day off work is worth commemorating these travesties</h3></a>
  <p>Feb 16</p>
  <p>·</p>2 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://level.medium.com/6-holidays-black-people-refuse-to-celebrate-ranked-fc43824766c9?source=extreme_main_feed---------19-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="6 Holidays Black People Refuse to Celebrate, Ranked" src="https://miro.medium.com/fit/c/200/134/1*mU-3TIATpkOxL15HC7dK5w.jpeg" width="200" height="134"></a>
  <p><a href="https://bothsidesofthetable.com/?source=extreme_main_feed---------20-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Both Sides of the Table" src="https://miro.medium.com/fit/c/20/20/1*qMXnBz8XoZzgguxADcbGWQ.png" width="20" height="20"></a></p>
  <p><a href="/@msuster?source=extreme_main_feed---------20-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Mark Suster</h4></a></p>
  <h4>in</h4><a href="https://bothsidesofthetable.com/?source=extreme_main_feed---------20-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Both Sides of the Table</h4></a> <a href="https://bothsidesofthetable.com/how-i-lost-65-pounds-in-18-months-without-any-fad-diets-or-gimmicks-72a262f29f9c?source=extreme_main_feed---------20-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>How I Lost 65 Pounds In 18 Months Without Any Fad Diets or Gimmicks</h2>
  <h3>I’ve been reluctant to write this blog post because historically I don’t like talking about weight. But I’ve been promising to publish how…</h3></a>
  <p>Jan 1</p>
  <p>·</p>18 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://bothsidesofthetable.com/how-i-lost-65-pounds-in-18-months-without-any-fad-diets-or-gimmicks-72a262f29f9c?source=extreme_main_feed---------20-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="How I Lost 65 Pounds In 18 Months Without Any Fad Diets or Gimmicks" src="https://miro.medium.com/fit/c/200/134/1*sy6RiGpIIcG9frsApd8qUQ.png" width="200" height="134"></a>
  <p><a href="https://uxdesign.cc/?source=extreme_main_feed---------21-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="UX Collective" src="https://miro.medium.com/fit/c/20/20/1*mDhF9X4VO0rCrJvWFatyxg.png" width="20" height="20"></a></p>
  <p><a href="https://michalmalewicz.medium.com/?source=extreme_main_feed---------21-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Michal Malewicz</h4></a></p>
  <h4>in</h4><a href="https://uxdesign.cc/?source=extreme_main_feed---------21-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>UX Collective</h4></a> <a href="https://uxdesign.cc/the-world-is-running-on-bad-ui-43ce25d09f0?source=extreme_main_feed---------21-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>The world is running on bad UI.</h2>
  <h3>We get excited by the new, slick, modern apps, yet things that are important are outdated AF.</h3></a>
  <p>Feb 22</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://uxdesign.cc/the-world-is-running-on-bad-ui-43ce25d09f0?source=extreme_main_feed---------21-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="The world is running on bad UI." src="https://miro.medium.com/fit/c/200/134/1*cz87XtGLssnDTQw2Qa6OrA.png" width="200" height="134"></a>
  <p><a href="/business-insider?source=extreme_main_feed---------22-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Business Insider" src="https://miro.medium.com/fit/c/20/20/1*PW6sWfilAMqxRZRBpj572Q.png" width="20" height="20"></a></p>
  <p><a href="/@businessinsider?source=extreme_main_feed---------22-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Business Insider</h4></a></p><a href="/business-insider/7-signs-youre-rich-even-if-it-doesn-t-feel-like-it-8f8d33602ce?source=extreme_main_feed---------22-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>7 signs you’re rich, even if it doesn’t feel like it</h2>
  <h3>“Rich” doesn’t necessarily mean owning a huge mansion or taking luxury vacations multiple times a year.</h3></a>
  <p>Feb 3</p>
  <p>·</p>5 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="/business-insider/7-signs-youre-rich-even-if-it-doesn-t-feel-like-it-8f8d33602ce?source=extreme_main_feed---------22-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="7 signs you’re rich, even if it doesn’t feel like it" src="https://miro.medium.com/fit/c/200/134/1*_wCaNRD3vzKFie3tCMU8CA.jpeg" width="200" height="134"></a>
  <p><a href="https://marker.medium.com/?source=extreme_main_feed---------23-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Marker" src="https://miro.medium.com/fit/c/20/20/1*ydIA6jXs7WEZk0cOd-3BSA.png" width="20" height="20"></a></p>
  <p><a href="/@MarkerEditors?source=extreme_main_feed---------23-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Marker Editors</h4></a></p>
  <h4>in</h4><a href="https://marker.medium.com/?source=extreme_main_feed---------23-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Marker</h4></a> <a href="https://marker.medium.com/why-everyones-worried-about-america-s-lithium-problem-9f2769380a0f?source=extreme_main_feed---------23-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Why Everyone’s Worried About America’s Lithium Problem</h2>
  <h3>Only 1% of global lithium is currently mined in the U.S. That could be a problem.</h3></a>
  <p>Mar 17</p>
  <p>·</p>2 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://marker.medium.com/why-everyones-worried-about-america-s-lithium-problem-9f2769380a0f?source=extreme_main_feed---------23-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Why Everyone’s Worried About America’s Lithium Problem" src="https://miro.medium.com/fit/c/200/134/1*eYObRmLVEkhYW4H1r9Ynyw.jpeg" width="200" height="134"></a>
  <p><a href="https://betterprogramming.pub/?source=extreme_main_feed---------24-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Better Programming" src="https://miro.medium.com/fit/c/20/20/1*TyRLQdZO7NdPATwSeut8gg.png" width="20" height="20"></a></p>
  <p><a href="/@georg.howen?source=extreme_main_feed---------24-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Georg von der Howen</h4></a></p>
  <h4>in</h4><a href="https://betterprogramming.pub/?source=extreme_main_feed---------24-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h4>Better Programming</h4></a> <a href="https://betterprogramming.pub/flutter-failed-to-solve-the-biggest-challenge-for-our-cross-platform-app-c551afa0ef18?source=extreme_main_feed---------24-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------">
  <h2>Flutter Failed To Solve the Biggest Challenge for Our Cross-Platform App</h2>
  <h3>Harsh lessons learned from migrating a native iOS app to Flutter</h3></a>
  <p>Feb 9</p>
  <p>·</p>9 min read
  <p>·</p>
  <p>Popular on Medium</p><a href="https://betterprogramming.pub/flutter-failed-to-solve-the-biggest-challenge-for-our-cross-platform-app-c551afa0ef18?source=extreme_main_feed---------24-73--------------------242ed620_c40b_4228_8c18_d72220a2efe3-------"><img alt="Flutter Failed To Solve the Biggest Challenge for Our Cross-Platform App" src="https://miro.medium.com/fit/c/200/134/0*GW5IPrsjUoVRMWe6" width="200" height="134"></a>
  <h2>Bookmark stories for later</h2>
  <p>Start saving stories by clicking the bookmark icon and you’ll find them all here.</p>
  <p>Who to follow</p>
  <p><a href="https://andjelicaaa.medium.com/?source=home---------0---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Ana Andjelic" src="https://miro.medium.com/fit/c/48/48/1*_0Y20kAdbY0uTaagOPaaig.png" width="48" height="48"></a></p>
  <p><a href="https://andjelicaaa.medium.com/?source=home---------0---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Ana Andjelic</h2>
  <p>Strategy Executive. Author of “The Business of Aspiration.” Doctor of Sociology. Forbes’ one of The World’s Most Influential CMOs.</p></a></p>Follow
  <p><a href="https://juliovincent.medium.com/?source=home---------1---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Julio Vincent Gambuto" src="https://miro.medium.com/fit/c/48/48/1*Getjt7gvTEX6BpaCPrbfNg.png" width="48" height="48"></a></p>
  <p><a href="https://juliovincent.medium.com/?source=home---------1---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Julio Vincent Gambuto</h2>
  <p>“Giulio” (It’s Italian.) Writer/Director. Creative. Thinker. Weekly: where the personal, pandemic and the political meet / juliovincent.com • Tw: @juliovincent</p></a></p>Follow
  <p><a href="https://ashleyabrmsn.medium.com/?source=home---------2---------------------418565d0_41a1_49b5_a937_154f1019a995-------14"><img alt="Ashley Abramson" src="https://miro.medium.com/fit/c/48/48/1*AAlTuj8aUOWNNAH91dzShA.jpeg" width="48" height="48"></a></p>
  <p><a href="https://ashleyabrmsn.medium.com/?source=home---------2---------------------418565d0_41a1_49b5_a937_154f1019a995-------14">
  <h2>Ashley Abramson</h2>
  <p>Writer-mom hybrid. Health & psychology stories in NYT, WaPo, Allure, Real Simple, & more.</p></a></p>Follow
  <p><a href="https://help.medium.com/hc/en-us?source=home-------------------------------------">
  <p>Help</p></a></p>
  <p><a href="https://medium.statuspage.io/?source=home-------------------------------------">
  <p>Status</p></a></p>
  <p><a href="https://about.medium.com/creators/?source=home-------------------------------------">
  <p>Writers</p></a></p>
  <p><a href="https://blog.medium.com/?source=home-------------------------------------">
  <p>Blog</p></a></p>
  <p><a href="https://medium.com/jobs-at-medium/work-at-medium-959d1a85284e?source=home-------------------------------------">
  <p>Careers</p></a></p>
  <p><a href="https://policy.medium.com/medium-privacy-policy-f03bf92035c9?source=home-------------------------------------">
  <p>Privacy</p></a></p>
  <p><a href="https://policy.medium.com/medium-terms-of-service-9db0094a1e0f?source=home-------------------------------------">
  <p>Terms</p></a></p>
  <p><a href="https://medium.com/about?autoplay=1&amp;source=home-------------------------------------">
  <p>About</p></a></p>
</body>
</html>
