<!doctype html>
<html lang="en" class="b-header--dark-grey--grey b-footer--white--dark-grey b-pw-1280 b-reith-sans-font id-svg b-reith-sans-loaded orb-more-loaded se-iplayer-theme se-no-touch">

<head>
  <title>{{page.title}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta data-rh="true" charset="utf-8">
  <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta data-rh="true" name="theme-color" content="#000000">
  <meta data-rh="true" property="og:site_name" content="Quicklook">
  <meta data-rh="true" property="og:title" content="{{page.title}}">
  <meta data-rh="true" name="description" content="{{page.description}}">
  <meta data-rh="true" property="og:description" content="{{page.description}}">
  <meta data-rh="true" name="twitter:description" content="{{page.description}}">
  <link data-rh="true" rel="apple-touch-icon" sizes="152x152" href="/assets/images/fit/152/1_sHhtYhaCe2Uc3IU0IgKwIQ.png">
  <link data-rh="true" rel="apple-touch-icon" sizes="120x120" href="/assets/images/fit/120/1_sHhtYhaCe2Uc3IU0IgKwIQ.png">
  <link data-rh="true" rel="apple-touch-icon" sizes="76x76" href="/assets/images/fit/76/1_sHhtYhaCe2Uc3IU0IgKwIQ.png">
  <link data-rh="true" rel="apple-touch-icon" sizes="60x60" href="/assets/images/fit/60/1_sHhtYhaCe2Uc3IU0IgKwIQ.png">
  <link data-rh="true" rel="mask-icon" href="/assets/images/icons/Quicklook-Avatar-500x500.svg" color="#171717">
  <link data-rh="true" id="glyph_preload_link" rel="preload" as="style" type="text/css" href="/assets/css/unbound.css">
  <link data-rh="true" id="glyph_link" rel="stylesheet" type="text/css" href="/assets/css/unbound.css">
  <meta property="og:image" content="{{page.photo}}" data-rh="true">
  <meta name="twitter:image:src" content="{{page.photo}}" data-rh="true">
  <link data-rh="true" rel="icon" href="/assets/images/fit/32/1_m-R_BkNf1Qjr1YbyOIJY2w.png"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/watch/id-cta.css">
  <link rel="stylesheet" href="/assets/css/watch/watch.css">
  <link rel="stylesheet" href="/assets/css/watch/main.css">
  <link id="tvip-stylesheet-common" rel="stylesheet" href="/assets/css/watch/iplayer.css">
  <link id="tvip-stylesheet-1" rel="stylesheet" href="/assets/css/watch/bundles.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/watch/enhanced.css">
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css">
</head>

<body class="no-touch" data-page-type="home" cz-shortcut-listen="true">
  <div id="edr_survey"></div>
  <div id="cookiePrompt"></div>
  <header id="orb-banner" role="banner" aria-label="BBC">
    <div id="orb-header" class="orb-nav-pri orb-nav-pri-white orb-nav-dyn" dir="ltr">
      <div class="orb-nav-pri-container b-r b-g-p">
        <div class="orb-nav-section orb-nav-blocks">
          <a href="https://www.bbc.co.uk">Homepage</a>
        </div>
        <section>
          <div class="orb-skip-links">
            <h2>Accessibility links</h2>
            <ul>
              <li>
                <a href="#main">Skip to content</a>
              </li>
              <li>
                <a id="orb-accessibility-help" href="https://www.bbc.co.uk/accessibility/">Accessibility Help</a>
              </li>
            </ul>
          </div>
        </section>
        <div class="orb-nav-section orb-nav-search">
          <a class="orb-search__button" href="/search" title="Search Watch">Search</a>
          <form class="b-f" id="orb-search-form" role="search" method="get" action="/search" accept-charset="utf-8">
            <div>
              <input type="hidden" name="scope" id="orb-search-scope" value="iplayer:tv">
              <label for="orb-search-q">Search Watch</label>
              <input id="orb-search-q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="100" name="q" placeholder="Search Watch">
              <button id="orb-search-button" class="orb-search__button">Search Watch</button>
              <input type="hidden" name="suggid" id="orb-search-suggid">
            </div>
          </form>
        </div>
      </div>
      <div id="orb-panels">
        <div id="orb-panel-more" class="orb-panel">
          <div class="orb-panel-content b-g-p b-r orb-nav-sec">
            <h2 id="orb-panel-more-title">More<span class="orb-icon orb-icon-arrow"></span></h2>
            <ul>
              <li class="orb-nav-home orb-panel-hide"><a href="https://www.bbc.co.uk">Home</a></li>
              <li class="orb-nav-news orb-panel-hide"><a href="https://www.bbc.co.uk/news">News</a></li>
              <li class="orb-nav-sport orb-panel-hide"><a href="https://www.bbc.co.uk/sport">Sport</a></li>
              <li class="orb-nav-weather orb-panel-hide"><a href="https://www.bbc.co.uk/weather">Weather</a></li>
              <li class="orb-nav-iplayer orb-panel-hide"><a href="https://www.bbc.co.uk/iplayer">iPlayer</a></li>
              <li class="orb-nav-sounds orb-panel-hide"><a href="https://www.bbc.co.uk/sounds">Sounds</a></li>
              <li class="orb-nav-cbbc orb-panel-hide"><a href="https://www.bbc.co.uk/cbbc">CBBC</a></li>
              <li class="orb-nav-cbeebies orb-first-visible"><a href="https://www.bbc.co.uk/cbeebies">CBeebies</a></li>
              <li class="orb-nav-food"><a href="https://www.bbc.co.uk/food">Food</a></li>
              <li class="orb-nav-bitesize"><a href="https://www.bbc.co.uk/bitesize">Bitesize</a></li>
              <li class="orb-nav-arts"><a href="https://www.bbc.co.uk/arts">Arts</a></li>
              <li class="orb-nav-taster"><a href="https://www.bbc.co.uk/taster">Taster</a></li>
              <li class="orb-nav-local"><a href="https://www.bbc.co.uk/news/localnews">Local</a></li>
              <li class="orb-nav-three"><a href="https://www.bbc.co.uk/bbcthree">Three</a></li>
            </ul>
          </div>
        </div>
        <div class="orb-panel se-searchbox-app" id="se-searchbox-app">
          <div tabindex="-1">
            <div>
              <section class="se-searchbox-panel">
                <div class="se-g-wrap">
                  <div class="se-g-layout">
                    <div class="se-g-layout__item se-searchbox-title" aria-hidden="true">search</div>
                    <div class="se-g-layout__item se-searchbox">
                      <form accept-charset="utf-8" id="searchboxDrawerForm" method="get" action="https://search.bbc.co.uk/search">
                        <label class="se-searchbox__input" for="se-searchbox-input-field">
                          <span class="se-sr-only">Search Term</span>
                          <div>
                            <input type="text" name="q" value="" id="se-searchbox-input-field" class="se-searchbox__input__field" maxlength="100" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0">
                          </div>
                        </label>
                        <input type="hidden" name="scope" value="">
                        <button type="submit" class="se-searchbox__submit" tabindex="0">Search</button>
                        <button type="button" class="se-searchbox__clear se-searchbox__clear--visible" tabindex="0">Close</button>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
              <div aria-live="polite" aria-atomic="true" class="se-suggestions-container">
                <section class="se-g-wrap"></section>
              </div>
            </div>
          </div>
        </div>
        <div class="orb-panel" id="orb-panel">
          <div class="drawer-0-2-28">
            <div class="notificationsContainer-0-2-27">
              <section class="notificationErrorContainer-0-2-78">
                <div id="hub-error-main">
                  <div class="notificationsErrorHeader-0-2-79">
                    <p class="notificationsErrorHeaderText-0-2-80 notificationsErrorHeaderText-d0-0-2-82">Sorry, something has gone wrong.</p>
                  </div>
                  <p class="notificationErrorBody-0-2-81">There's been an error and your notifications <br>can't be displayed at the moment. Please try again later.</p>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="orb-modules">
    <div id="blq-content" data-site-type="default">
      <div id="tviplayer" class="tvip-js">
        <div id="main" class="main" role="main">
          <svg class="svg-defs">
            <symbol id="gel-icon-iplayer" viewBox="0 0 32 32">
              <path d="M11 0H3v8h8V4.7L24 16 11 27.3V12H3v20h8l18-16z"></path>
            </symbol>
            <symbol id="gel-icon-info" viewBox="0 0 32 32">
              <path d="M16 0a16 16 0 1 0 16 16A16 16 0 0 0 16 0zm2 25h-4V13h4zm0-14h-4V7h4z"></path>
            </symbol>
            <symbol id="gel-icon-no" viewBox="0 0 32 32">
              <path d="M32 3.5L28.5 0 16 12.5 3.5 0 0 3.5 12.5 16 0 28.5 3.5 32 16 19.5 28.5 32l3.5-3.5L19.5 16 32 3.5z"></path>
            </symbol>
            <symbol id="gel-icon-alert" viewBox="0 0 32 32">
              <path d="M16 2L0 30h32L16 2zm2 25h-4v-4h4v4zm-4-6V11h4v10h-4z"></path>
            </symbol>
            <symbol id="gel-icon-next" viewBox="0 0 32 32">
              <path d="M29 16L3 0v7.2L17.6 16 3 24.8V32l26-16z"></path>
            </symbol>
            <symbol id="gel-icon-previous" viewBox="0 0 32 32">
              <path d="M3 16l26 16v-7.2L14.4 16 29 7.2V0L3 16z"></path>
            </symbol>
            <symbol id="gel-icon-search" viewBox="0 0 32 32">
              <path d="M32 28.5l-8.2-8.2c3.4-5.1 2.9-12-1.6-16.4C19.7 1.3 16.3 0 13 0 9.7 0 6.3 1.3 3.8 3.8c-5.1 5.1-5.1 13.3 0 18.4C6.3 24.7 9.7 26 13 26c2.5 0 5.1-.7 7.3-2.2l8.2 8.2 3.5-3.5zM6.6 19.4C4.9 17.7 4 15.4 4 13s.9-4.7 2.6-6.4C8.3 4.9 10.6 4 13 4c2.4 0 4.7.9 6.4 2.6 3.5 3.5 3.5 9.2 0 12.7-1.7 1.7-4 2.6-6.4 2.6s-4.7-.8-6.4-2.5z"></path>
            </symbol>
            <symbol id="tvip-down-triangle" viewBox="0 0 32 32">
              <path transform="rotate(-180 16.083221435546875,15.999999046325682)" d="m0.109132,25.114051l15.974089,-18.228102l15.974089,18.228102l-31.948179,0z"></path>
            </symbol>
            <symbol id="gel-icon-parental-warning" viewBox="0 0 32 32">
              <circle fill="#bb1919" cx="16" cy="16" r="16"></circle>
              <path d="M23.4 24h-2.7l-.2-1.7c-1.1 1.5-3 2.1-4.5 2.1-4.8 0-8-3.7-8-8.3s3.1-8.3 8-8.3c3.3 0 6.8 1.8 7.2 5.8H19c-.1-1.4-1.5-2.2-3.2-2.2-2.7 0-3.7 2.4-3.7 4.7 0 2.4 1 4.7 3.7 4.7 2.1 0 3.4-1 3.7-2.4h-2.9v-3.1h6.7V24z" fill="#FFF"></path>
            </symbol>
          </svg>
          <div class="">
            <h1 class="tvip-hide">Quicklook Watch</h1>
            <div class="background-facets background-facets--hide-at-lower">
              <div class="bundle-sections">
                <div class="gel-wrap">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footr">
          <div class="footr__container">
            <div class="footr__section footr__section--settings">
              <span class="dropdown footr__dropdown footr__dropdown--location dropdown--transparent dropdown--requires-js">
                <label for="change_location" class="dropdown__label">Change location</label>
                <span class="dropdown__label-separator">:</span>
                <select id="change_location" class="dropdown__select typo typo--bullfinch typo--bold" style="width: 95px;">
                  <optgroup label="Nations">
                    <option value="en">England</option>
                    <option value="ni">Northern Ireland</option>
                    <option value="sc">Scotland</option>
                    <option value="wa">Wales</option>
                  </optgroup>
                  <optgroup label="Regions">
                    <option value="ca">Cambridge</option>
                    <option value="ci">Channel Islands</option>
                    <option value="ea">East</option>
                    <option value="em">East Midlands</option>
                    <option value="ey">East Yorks &amp; Lincs</option>
                    <option value="lo">London</option>
                    <option value="ne">North East &amp; Cumbria</option>
                    <option value="nw">North West</option>
                    <option value="ox">Oxfordshire</option>
                    <option value="so">South</option>
                    <option value="se">South East</option>
                    <option value="sw">South West</option>
                    <option value="we">West</option>
                    <option value="wm">West Midlands</option>
                    <option value="yo">Yorkshire</option>
                  </optgroup>
                </select>
                <svg role="presentation" class="dropdown__icon" focusable="false">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tvip-down-triangle" href="#tvip-down-triangle" role="presentation"></use>
                </svg>
                <select class="dropdown__select typo typo--bullfinch typo--bold dropdown__select--hidden" style="">
                  <option value="lo">London</option>
                </select>
              </span>
              <span class="dropdown footr__dropdown footr__dropdown--language dropdown--transparent dropdown--requires-js">
                <label for="change_language" class="dropdown__label">Change language</label>
                <span class="dropdown__label-separator">:</span>
                <select id="change_language" class="dropdown__select typo typo--bullfinch typo--bold" style="width: 90px;">
                  <option selected="" value="en">English</option>
                  <option value="cy">Cymraeg</option>
                  <option value="ga">Gaeilge</option>
                  <option value="gd">Gàidhlig</option>
                </select>
                <svg role="presentation" class="dropdown__icon" focusable="false">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tvip-down-triangle" href="#tvip-down-triangle" role="presentation"></use>
                </svg>
                <select class="dropdown__select typo typo--bullfinch typo--bold dropdown__select--hidden" style="">
                  <option value="en">English</option>
                </select>
              </span>
            </div>
            <div class="footr__section footr__section--links">
              <ul class="inline-list footr__links inline-list--separated">
                <li class="inline-list__item">
                  <a href="/iplayer/guidance" class="lnk">
                    <span class="lnk__label">Parental Controls</span>
                  </a>
                </li>
                <li class="inline-list__item">
                  <a href="https://www.bbc.co.uk/iplayer/help" class="lnk">
                    <span class="lnk__label">Help &amp; FAQ</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>
